{% extends "base.html" %}
{% load static %}

{% block head_title %}Verify Your Email Address{% endblock %}

{% block main %}
  <div class="mx-auto max-w-xl font-extralight text-base text-gray-800">

    <div class="mb-8 w-full">
      <img class="w-64 mx-auto" src="{% static "mail-sent.svg" %}" alt="Mail sent">
    </div>
    <h1 class="font-extralight text-2xl text-blue-900 mb-4">Please Check Your Email!</h1>
    <p class="mb-6">
      We sent you an email so we can confirm your address
      to complete your sign up.
      Please follow the link in your email.
      Once you do that,
      you’ll be on your way to starting with School Desk!
    </p>
    <p class="mb-6">
      Regards,<br>
      Matt from School Desk
    </p>
    <p class="text-sm text-gray-600">
      P.S. If you can’t find the confirmation email
      after a few minutes,
      be sure to check your spam folder
      as some email clients will mark your confirmation as spam.
    </p>
  </div>
{% endblock %}
