{% extends "app_base.html" %}

{% block head_title %}Teacher Checklist for {{ week.first_day|date:"l, M j" }} &ndash; {{ week.last_day|date:"l, M j" }}{% endblock %}

{% block main %}
  <h1 class="grow font-extralight text-2xl text-blue-900 mb-8">
    Teacher Checklist for {{ week.first_day|date:"l, M j" }} &ndash; {{ week.last_day|date:"l, M j" }}
    <a href="{% url "teachers:edit_checklist" week.first_day.year week.first_day.month week.first_day.day %}" class="text-gray-400 hover:text-gray-700 print:hidden">
      <svg class="h-5 w-5 ml-2 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <title>Edit Checklist</title>
        <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
      </svg>
    </a>
  </h1>

  {% for schedule in schedules %}
    <h2 class="font-extralight text-xl text-blue-900 mb-4">{{ schedule.student.first_name }}</h2>

    {% for course_detail in schedule.courses %}
      <h3 class="text-sm uppercase tracking-wide font-extralight py-2 pr-4">{{ course_detail.course }}</h3>

      <div class="flex flex-col mb-4 max-w-2xl">
        {% for day in course_detail.days %}
          {% if day.task %}
            <div class="flex flex-row py-2 text-sm font-light overflow-x-auto">
              <div class="w-1/6">{{ day.week_date|date:"M j" }}</div>
              <div class="w-5/6">{{ day.task|urlize|linebreaksbr }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

    {% endfor %}

  {% endfor %}

{% endblock %}
