version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      annoying-dependencies:
        - "types-*"
        - "boto"
    # Dependabot is only submitting 5 pull requests each month,
    # even if I merge PRs that same day.
    # Raise the limit in case there are more than 5 things to upgrade.
    open-pull-requests-limit: 20
    ignore:
      # responses has a pinning conflict in 0.12.1 with urllib3.
      # pip doesn't fail on but issues a warning. Stop updating it for now.
      - dependency-name: "responses"
