ALLOWED_HOSTS=*
ANYMAIL_ACCOUNT_DEFAULT_HTTP_PROTOCOL=http
AWS_ACCESS_KEY_ID=asecrettoeverybody
AWS_SECRET_ACCESS_KEY=asecrettoeverybody
AWS_STORAGE_BUCKET_NAME=some-bucket
CSRF_COOKIE_SECURE=off
DATABASE_URL=sqlite:///db.sqlite3
# Postgres example
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/mylocaldb
DATABASE_SSL_REQUIRE=off
DEBUG=on
DEBUG_TOOLBAR=on
DJSTRIPE_WEBHOOK_SECRET=
DJSTRIPE_WEBHOOK_VALIDATION=
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
GUNICORN_CMD_ARGS="--reload"
HASHID_FIELD_SALT="_et7oyb!6-*ez@)!27ui74hz+8osb(wd-azak(nx%8e(x4x9g$"
IS_SECURE=off
PYTHONUNBUFFERED=1
SECRET_KEY="-8dd#per$l_1e!^+$fwjac_2u5n5qil@ns*go6(3qrf^z1zj*!"
SECURE_HSTS_PRELOAD=off
SECURE_HSTS_SECONDS=0
SENDGRID_API_KEY=key
SECURE_SSL_REDIRECT=off
SENTRY_ENABLED=off
SESSION_COOKIE_SECURE=off
SLACK_WEBHOOK=
STRIPE_LIVE_MODE=off
STRIPE_LIVE_SECRET_KEY=sk_live_asecrettoeverybody
STRIPE_TEST_SECRET_KEY=sk_test_asecrettoeverybody
STRIPE_LIVE_PUBLISHABLE_KEY=pk_live_asecrettoeverybody
STRIPE_TEST_PUBLISHABLE_KEY=pk_test_asecrettoeverybody
