repos:
- repo: https://github.com/psf/black
  rev: 19.3b0
  hooks:
  - id: black
- repo: https://github.com/timothycrosley/isort
  rev: 5.5.4
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
- repo: https://github.com/PyCQA/bandit
  rev: 1.6.2
  hooks:
  - id: bandit
    args:
      - "-c"
      - ".bandit.yaml"
