repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.0
  hooks:
  - id: pyupgrade
    args:
      - "--py311-plus"
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.15.0
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
- repo: https://github.com/psf/black
  rev: 23.10.1
  hooks:
  - id: black
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
  - id: flake8
    additional_dependencies: ["flake8-bugbear==22.8.23"]
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
  - id: bandit
    args:
      - "-c"
      - "pyproject.toml"
    additional_dependencies: ["toml==0.10.2"]
