beautifulsoup4==4.10.0
bleach==4.1.0
dj-database-url==0.5.0
Django==4.0.3
django-allauth==0.49.0
django-anymail[sendgrid]==8.5
django-debug-toolbar==3.2.4
django-environ==0.8.1
django-extensions==3.1.5
django-hashid-field==3.3.4
django-hijack==3.1.6
django-htmx==1.8.0
django-ordered-model==3.5
django-simple-history==3.0.0
django-tz-detect==0.4.0
django-waffle==2.3.0
dj-stripe==2.6.1
gunicorn==20.1.0
psycopg2==2.9.3
python-dateutil==2.8.2
requests==2.27.1
rollbar==0.16.2
Sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinx-sitemap==2.2.0
time-machine
types-bleach==4.1.4
types-python-dateutil==2.8.9
types-pytz==2021.3.5
types-requests==2.27.15
types-six==1.16.11
types-toml==0.10.4
weasyprint==54.2
whitenoise[brotli]==6.0.0
