coverage[toml]
django-test-plus==2.2.2
factory-boy==3.2.1
flake8==6.0.0
flake8-bugbear==23.6.5
isort==5.5.4
mypy==1.4.1
pip-tools
pre-commit
pygraphviz==1.11
pytest==7.4.0
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-socket==0.6.0
pytest-xdist==3.3.1
pyupgrade==3.10.1
responses==0.10.15
