beautifulsoup4==4.9.1
bleach==3.1.5
Django==3.0.7
django-allauth==0.42.0
django-debug-toolbar==2.2
django-environ==0.4.5
django-heroku==0.3.1
django-ordered-model==3.4.1
django-tz-detect==0.3.0
django-waffle==1.0.0
freezegun==0.3.15
gunicorn==20.0.4
python-dateutil==2.8.1
