coverage
django-test-plus==2.2.0
factory-boy
flake8==3.9.2
isort==5.5.4
mypy==0.910
pip-tools
pre-commit
pygraphviz==1.7
pytest-cov==2.12.1
pytest-django==4.3.0
pytest-xdist==2.3.0
pyupgrade==2.19.4
responses==0.10.15
