{% load static %}

<div class="flex flex-row w-full">
  <div class="w-1/2 mr-8 text-blue-900 font-light">
    <p class="ml-10 mb-8">
      Before you can view the week’s schedule,
      you must first add a student.
    </p>
    <div class="text-center">
      <a href="{% url "students:create" %}" class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring">Add Student</a>
    </div>
  </div>
  <div class="w-1/2 text-center">
    <img src="{% static "children.svg" %}" alt="Children playing">
  </div>
</div>
