{% extends "app_base.html" %}

{% block head_title %}Tasks To Grade{% endblock %}

{% block main %}
  <h1 class="font-extralight text-2xl text-blue-900">Tasks To Grade</h1>

  {% if has_work_to_grade %}
    <form method="POST" class="w-full max-w-3xl">
      {% csrf_token %}
      {% for student_work in work_to_grade %}
        {% if student_work.graded_work %}
          <h2 class="font-extralight text-xl text-blue-900 mt-8">{{ student_work.student.first_name }}</h2>

          <div class="flex flex-col sm:flex-row max-w-3xl mt-4">
            <div class="w-3/12 text-sm uppercase tracking-wide font-extralight py-2 text-center">Course</div>
            <div class="w-7/12 text-sm uppercase tracking-wide font-extralight py-2 text-center">Task</div>
            <div class="w-2/12 text-sm uppercase tracking-wide font-extralight py-2 text-center">Score</div>
          </div>
        {% endif %}

        {% for work in student_work.graded_work %}
          <div class="flex flex-col sm:flex-row border-t border-yellow-400 max-w-3xl">
            <div class="w-3/12 text-sm uppercase tracking-wide font-extralight py-2 pr-4">
              {{ work.course_task.course.name }}
            </div>
            <div class="w-7/12 p-2 text-sm font-light overflow-x-scroll">
              {{ work.course_task.description|linebreaksbr }}
            </div>
            <div class="w-2/12 p-2 text-sm font-light overflow-x-scroll">
              <input class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                {% if forloop.first %}autofocus{% endif %}
                type="number" min="0" name="graded_work-{{ student_work.student.id }}-{{ work.id }}" autocomplete="off">
            </div>
          </div>
        {% endfor %}
      {% endfor %}

      <div class="flex flex-col sm:flex-row items-center justify-end mt-8">
        {% if request.GET.next %}
          <a href="{{ request.GET.next }}"
            class="hover:bg-gray-200 text-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:ring">
            Exit
          </a>
        {% else %}
          <a href="{% url "core:daily" %}"
            class="hover:bg-gray-200 text-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:ring">
            Exit
          </a>
        {% endif %}
        <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:ring" type="submit">
          Save
        </button>
      </div>
    </form>
  {% else %}
    <div class="mt-8"></div>
    {% include "students/no_work_to_grade.html" %}
  {% endif %}
{% endblock %}
