{% extends "app_base.html" %}
{% load static %}

{% block head_title %}Thank You For Joining!{% endblock %}

{% block main %}
  <div class="mx-auto max-w-lg font-extralight text-base text-gray-800">
    <img class="mb-4" src="{% static "winners.svg" %}" alt="People jumping by a trophy">
    <h1 class="font-extralight text-2xl text-blue-900 mb-4 text-center">Thank You For Joining!</h1>
    <div class="mx-auto max-w-md">
      <p class="mb-8">
        We’re so glad that you’ve joined School Desk,
        and we hope that School Desk serves your school well.
      </p>
      <div class="mx-auto text-center mb-8">
        <a href="{% url "schools:current_school_year" %}"
          class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring">
          Go Back To Your School Year
        </a>
      <div>
    </div>
  </div>
{% endblock %}
