{% extends "app_base.html" %}
{% load static %}

{% block head_title %}Social image{% endblock %}

{% block main %}
<div class="flex items-center mx-auto max-w-3xl my-32">
  <div class="w-1/4">
    <img src="{% static "logo.svg" %}">
  </div>
  <div class="w-3/4 pl-4">
    <div class="text-5xl text-blue-800 uppercase tracking-widest font-thin leading-tight">
      School Desk
    </div>
    <div class="text-xl text-gray-700 font-light">
      Simple Planning for Your Homeschool
    </div>
  </div>
</div>
<div class="w-1/3 my-32 mx-auto">
  <img src="{% static "logo.svg" %}">
</div>
<div class="my-32 mx-auto max-w-2xl">
  <div class="text-5xl text-blue-800 uppercase tracking-widest font-thin leading-tight">
    School Desk
  </div>
  <div class="text-xl text-gray-700 font-light">
    Simple Planning for Your Homeschool
  </div>
</div>
{# For convenient screenshots for the blog. #}
{# <div class="flex"> #}
{#   <div class="w-1/2"> #}
{#     <img src="{% static "htmx.png" %}"> #}
{#   </div> #}
{#   <div class="w-1/2"> #}
{#     <img class="-ml-16 pt-4 pr-32" src="{% static "django.png" %}"> #}
{#   </div> #}
{# </div> #}
{% endblock %}
