{% extends "app_base.html" %}

{% block head_title %}{% if user.first_name %}{{ user.first_name }}’s School{% else %}Homeschool App{% endif %}{% endblock %}

{% block main %}
  <div class="flex flex-row items-center mb-8 print-hide">
    <h1 class="flex-grow font-thin text-2xl text-blue-900">Week of {{ monday|date:"l, M j" }} &ndash; {{ sunday|date:"l, M j" }}</h1>
    <div class="text-sm text-blue-900 font-thin">
      <a class="hover:underline" href="{% url "core:weekly" previous_week_date.year previous_week_date.month previous_week_date.day %}">Week of {{ previous_week_date|date:"M j" }}</a>
      <svg class="h-6 w-6 pb-1 inline fill-current"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z"/></svg>
      <span class="p-2 bg-gray-200 rounded">Week of {{ monday|date:"M j" }}</span>
      <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
      <a class="hover:underline" href="{% url "core:weekly" next_week_date.year next_week_date.month next_week_date.day %}">Week of {{ next_week_date|date:"M j" }}</a>
    </div>
  </div>

  {% for schedule in schedules %}
  <div class="print-break-after-page">
    <h2 class="font-thin text-xl text-blue-900">{{ schedule.student.first_name }}</h2>

    <div class="flex flex-row">
      <div class="flex-1 py-2 pr-4"></div>

      {% for week_date in week_dates %}
      <a href="{% url "core:daily_for_date" week_date.year week_date.month week_date.day %}"class="flex-1 text-sm text-center uppercase tracking-wide font-thin p-2 {% if week_date == day %}bg-gray-100 print-no-color rounded-t-lg{% endif %} hover:underline">{{ week_date|date:"l, n/j" }}</a>
      {% endfor %}
    </div>

    {% for course_schedule in schedule.courses %}
      <div class="flex flex-row border-t border-yellow-400 {% if forloop.last %}mb-16{% endif %}">
        <div class="flex-1 text-sm uppercase tracking-wide font-thin py-2 pr-4">
            <a class="hover:underline" href="{% url "students:course" schedule.student.uuid course_schedule.course.uuid %}">{{ course_schedule.course.name }}</a>
        </div>

        {% with last_row=forloop.last %}
          {% for course_schedule_day in course_schedule.days %}
            {% if course_schedule_day.task %}
              <div class="flex-1 p-2 text-sm font-light overflow-x-auto {% if course_schedule_day.week_date == day %}bg-gray-100 print-no-color {% if last_row %}rounded-b-lg{% endif %}{% endif %}">{{ course_schedule_day.task.description|linebreaksbr }}</div>
            {% elif course_schedule_day.coursework %}
              <div class="flex-1 p-2 overflow-x-auto {% if course_schedule_day.week_date == day %}bg-gray-100 print-no-color {% if last_row %}rounded-b-lg{% endif %}{% endif %}">
                {% for coursework in course_schedule_day.coursework %}
                  <div class="text-sm font-light text-gray-400">{{ coursework.course_task.description|linebreaksbr }}</div>
                {% endfor %}
              </div>
            {% else %}
              <div class="flex-1 p-2 {% if course_schedule_day.week_date == day %}bg-gray-100 print-no-color {% if last_row %}rounded-b-lg{% endif %}{% endif %}"></div>
            {% endif %}
          {% endfor %}
        {% endwith %}
      </div>
    {% endfor %}
  </div>
  {% endfor %}
{% endblock %}
