{% extends "app_base.html" %}

{% block head_title %}{% if user.first_name %}{{ user.first_name }}’s School{% else %}Homeschool App{% endif %}{% endblock %}

{% block main %}
  <h1 class="font-thin text-2xl text-blue-900 mb-8">Week of {{ monday|date:"l, N j" }} &ndash; {{ sunday|date:"l, N j" }}</h1>

  {% for schedule in schedules %}
    <h2 class="font-thin text-xl text-blue-900">{{ schedule.student.first_name }}</h2>

    <div class="flex flex-col sm:flex-row">
      <div class="flex-1 py-2 pr-4"></div>

      {% for week_date in week_dates %}
      <a href="{% url "core:daily_for_date" week_date.year week_date.month week_date.day %}"class="flex-1 text-sm text-center uppercase tracking-wide font-thin p-2 {% if week_date == today %}bg-gray-100 rounded-t-lg{% endif %} hover:underline">{{ week_date|date:"l, n/j" }}</a>
      {% endfor %}
    </div>

    {% for course_schedule in schedule.courses %}
      <div class="flex flex-col sm:flex-row border-t border-yellow-400 {% if forloop.last %}mb-16{% endif %}">
        <div class="flex-1 text-sm uppercase tracking-wide font-thin py-2 pr-4">
            <a class="hover:underline" href="{% url "students:course" schedule.student.uuid course_schedule.course.uuid %}">{{ course_schedule.course.name }}</a>
        </div>

        {% with last_row=forloop.last %}
          {% for day in course_schedule.days %}
            {% if day.task %}
              <div class="flex-1 p-2 text-sm font-light overflow-x-scroll {% if day.week_date == today %}bg-gray-100 {% if last_row %}rounded-b-lg{% endif %}{% endif %}">{{ day.task.description|linebreaksbr }}</div>
            {% elif day.coursework %}
              <div class="flex-1 p-2 overflow-x-scroll {% if day.week_date == today %}bg-gray-100 {% if last_row %}rounded-b-lg{% endif %}{% endif %}">
                {% for coursework in day.coursework %}
                  <div class="text-sm font-light text-gray-400">{{ coursework.course_task.description|linebreaksbr }}</div>
                {% endfor %}
              </div>
            {% else %}
              <div class="flex-1 p-2 {% if day.week_date == today %}bg-gray-100 {% if last_row %}rounded-b-lg{% endif %}{% endif %}"></div>
            {% endif %}
          {% endfor %}
        {% endwith %}
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
