{% extends "app_base.html" %}

{% block head_title %}Day of {{ day|date:"l, N j" }}{% endblock %}

{% block main %}
  <div class="flex flex-col sm:flex-row items-center">
    <h1 class="flex-grow font-thin text-2xl text-blue-900">Day of {{ day|date:"l, N j" }}</h1>
    <div class="text-sm text-blue-900 font-thin">
      <a class="hover:underline" href="{% url "core:daily_for_date" ereyesterday.year ereyesterday.month ereyesterday.day %}">Ereyesterday</a> |
      <a class="hover:underline" href="{% url "core:daily_for_date" yesterday.year yesterday.month yesterday.day %}">Yesterday</a> |
      <a class="hover:underline" href="{% url "core:daily_for_date" tomorrow.year tomorrow.month tomorrow.day %}">Tomorrow</a> |
      <a class="hover:underline" href="{% url "core:daily_for_date" overmorrow.year overmorrow.month overmorrow.day %}">Overmorrow</a>
    </div>
  </div>

  {% for schedule in schedules %}
    <h2 class="font-thin text-xl text-blue-900 mt-8 mb-4">{{ schedule.student.first_name }}</h2>

    <div class="flex flex-col sm:flex-row">
      <div class="w-48 pr-4"></div>
      <div class="text-sm text-center uppercase tracking-wide font-thin py-2 w-20">Complete?</div>
    </div>
    {% for course_schedule in schedule.courses %}
      {% if course_schedule.task or course_schedule.coursework %}
        <div class="flex flex-col sm:flex-row border-t border-yellow-400">
          <div class="w-48 text-sm uppercase tracking-wide font-thin py-2 pr-4">{{ course_schedule.course.name }}</div>

          {% if course_schedule.task %}
            <div class="w-20 text-sm text-center p-2"><input type="checkbox"></div>
            <div class="flex-grow p-2 text-sm font-light overflow-x-scroll">{{ course_schedule.task.description|linebreaksbr }}</div>
          {% elif course_schedule.coursework %}
            <div class="w-20 text-sm text-center p-2">
              {% for coursework in course_schedule.coursework %}
                <input type="checkbox" checked><br>
              {% endfor %}
            </div>
            <div class="flex-grow p-2">
              {% for coursework in course_schedule.coursework %}
                <div class="text-sm font-light text-gray-400 overflow-x-scroll">{{ coursework.course_task.description|linebreaksbr }}</div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    <button class="mt-8 bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
      Complete
    </button>
  {% empty %}
    <h1>Nothing on the schedule for the day!</h1>
  {% endfor %}
{% endblock %}
