{% extends "base.html" %}
{% load static %}

{% block head_title %}Homeschool Planning Simplified{% endblock %}

{% block main_css_classes %}flex-grow{% endblock %}

{# Empty the message block so that messages are consumed but not displayed. #}
{% block message_block %}{% endblock %}

{% block navigation %}
  {% include "nav.html" with light=True return_to_app=True %}
{% endblock %}

{% block main %}
  <style>
    .gradient {
      background: linear-gradient(120deg, #2b6cb0, #3182ce, #319795, #ecc94b 90%);
    }
  </style>
  <div class="gradient">

    <div class="pt-8">
      <div class="container px-3 xl:px-8 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center text-white md:text-left">
          <p class="uppercase tracking-loose w-full">Homeschool Planning Simplified</p>
          <h1 class="my-4 text-5xl font-bold leading-tight">Simple Planning for Your Homeschool</h1>
          <p class="leading-normal text-2xl mb-8">Set your students on the right path without being buried in scheduling. <span class="text-yellow-500">Free for 60 days!</span></p>

          <a href="{% url 'account_signup' %}" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-6 mb-4 py-4 px-8 shadow-lg">Start My Free Trial</a>

          <p class="sm:ml-8 text-sm w-full">No credit card required</p>
        </div>
        <div class="w-full md:w-3/5 py-16 text-center">
          <img class="w-full md:w-4/5 mb-24 sm:mb-8 ml-0 sm:ml-16 z-50" src="{% static "font.svg" %}" alt="Letter A with ellipsis and woman walking">
        </div>
      </div>
    </div>

    <div class="relative -mt-12">
      <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
        <path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
        <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
        </g>
        <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path>
        </g>
        </g>
      </svg>
    </div>
  </div>

    <section class="bg-white py-8">
      <div class="container max-w-6xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">It’s Your School</h1>
        <div class="w-full mb-12">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>

        <div class="flex flex-wrap items-center">
          <div class="sm:w-1/2 p-6">
            <h2 class="text-4xl text-gray-800 font-bold leading-none mb-3">Built for Your Homeschool</h2>
            <p class="text-gray-700 mb-3 text-lg">
              All of your course information for each school year is kept in a format that is tailor-made for schools like yours.</p>
            <p class="text-gray-700 mb-8 text-lg">
              You can avoid spreadsheets and cobbling together a system.
              School Desk gives you the information you need
              so you can focus on your school instead of your tools.
            </p>
          </div>
          <div class="w-full sm:w-1/2 p-6">
            <div class="relative flex">
              <div class="absolute inset-0 bg-yellow-500 rounded-lg transform rotate-3 origin-bottom-right"></div>
              <div class="rounded-lg shadow z-10">
                <div class="bg-white rounded-lg p-3 md:p-6 shadow-lg">
                  <div class="rounded-md overflow-hidden">
                    <img width="1237" height="1095" src="{% static "welcome.svg" %}" alt="Woman helping child with backpack">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap flex-col-reverse items-center sm:flex-row">
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <div class="relative flex">
              <div class="absolute inset-0 bg-yellow-500 rounded-lg transform -rotate-3 origin-bottom-left"></div>
              <div class="rounded-lg shadow z-10">
                <div class="bg-white rounded-lg p-3 md:p-6 shadow-lg">
                  <div class="rounded-md overflow-hidden">
                    <img width="1237" height="1095" src="{% static "todo.svg" %}" alt="Womain checking items off of a list">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <div class="align-middle">
              <h2 class="text-4xl text-gray-800 font-bold leading-none mb-3">
                Your Task List at the Ready
              </h2>
              <p class="text-gray-700 text-lg mb-3">
                What do you have to do for school <i>today?</i>
              </p>
              <p class="text-gray-700 text-lg mb-8">
                With School Desk’s automatic schedule building,
                you can see immediately what needs to happen today, tomorrow,
                or any day in your school year.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>

    {# <section class="mx-auto container"> #}
    {#   <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Happy Parents</h1> #}
    {#   <div class="w-full mb-12"> #}
    {#     <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div> #}
    {#   </div> #}
    {#   <div class="lg:flex justify-center w-full px-6 lg:space-x-12 pb-16 md:pb-20 space-y-6 lg:space-y-0"> #}
    {#     <div class="relative flex lg:w-1/3 transform lg:-rotate-2"> #}
    {#       <div class="rounded-lg shadow z-10"> #}
    {#         <div class="flex flex-col bg-white rounded-lg p-6 shadow-lg text-xl text-center h-full border-t-4 border-yellow-300 leading-normal"> #}
    {#           <img src="https://savvycal.global.ssl.fastly.net/images/testimonials/mailbrew-fabrizio-d6538e663a0eead09d788641edd98ec9.jpg?vsn=d" class="block mx-auto w-24 h-24 rounded-full" alt="Fabrizio" loading="lazy" width="400" height="400"> #}
    {#           <p class="flex-grow py-6 text-gray-500">“SavvyCal makes scheduling calls and meetings so easy for us. I wish we had this years ago.”</p> #}
    {#           <div class="text-gray-700 font-medium">Fabrizio Rinaldi</div> #}
    {#           <div class="text-lg text-gray-500">Co-Founder of Mailbrew</div> #}
    {#         </div> #}
    {#       </div> #}
    {#     </div> #}
    {#     <div class="relative flex lg:w-1/3 transform lg:rotate-1"> #}
    {#       <div class="rounded-lg shadow z-10"> #}
    {#         <div class="flex flex-col bg-white rounded-lg p-6 shadow-lg text-xl text-center h-full border-t-4 border-yellow-500 leading-normal"> #}
    {#           <img src="{% static "testimonials/elease.jpg" %}" class="block mx-auto w-24 h-24 rounded-full" alt="Elease L from Maryland" loading="lazy" width="400" height="400"> #}
    {#           <p class="flex-grow py-6 text-gray-500">“I use SavvyCal so my customers can easily compare my availability to their own. Making their lives a little easier is a treat I’m happy to pay for.”</p> #}
    {#           <div class="text-gray-700 font-medium">Elease L.</div> #}
    {#           <div class="text-lg text-gray-500">From Maryland</div> #}
    {#         </div> #}
    {#       </div> #}
    {#     </div> #}
    {#     <div class="relative flex lg:w-1/3 transform lg:-rotate-2"> #}
    {#       <div class="rounded-lg shadow z-10"> #}
    {#         <div class="flex flex-col bg-white rounded-lg p-6 shadow-lg text-xl text-center h-full border-t-4 border-yellow-300 leading-normal"><img src="https://savvycal.global.ssl.fastly.net/images/testimonials/tinyseed-tracy-3415f917c4c0929ec6b601a1833e030e.jpg?vsn=d" class="block mx-auto w-24 h-24 rounded-full" alt="Fabrizio" loading="lazy" width="400" height="400"><p class="flex-grow py-6 text-gray-500">“My favorite is the personalized links. SavvyCal links feel more natural and save <em>everyone</em> time.”</p> #}
    {#           <div class="text-gray-700 font-medium">Tracy Osborn</div> #}
    {#           <div class="text-lg text-gray-500">Program Manager at TinySeed</div> #}
    {#         </div> #}
    {#       </div> #}
    {#     </div> #}
    {#   </div> #}
    {# </section> #}

    <section class="border-b px-6 pb-16 md:pb-28">
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Happy Parents</h1>
      <div class="w-full mb-12">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>
      <div class="mx-auto max-w-5xl mb-4">
        <div class="md:flex items-center">
          <img src="{% static "testimonials/elease.jpg" %}" class="block mx-auto md:mx-0 flex-shrink-0 w-32 h-32 md:w-64 md:h-64 rounded-full" alt="Elease L from Maryland" loading="lazy" width="400" height="400">
          <div class="md:pl-10 py-6 text-xl md:text-2xl text-center md:text-left leading-normal md:leading-normal">
            <p class="pb-6 text-gray-700"><span class="relative z-10">“School Desk is the simple solution that I was looking for. I’ve tried other apps that overwhelmed me with unnecessary features. Here, I </span><span class="inline-flex relative text-gray-700"><span class="inline absolute inset-0 bg-yellow-400 transform -rotate-1 scale-105"></span> <span class="relative">can easily manage all of my kids’ tasks</span> </span>&nbsp; <span class="relative z-10">and make sure we’re on track.”</span>
            </p>
            <div class="text-gray-700 font-medium">Elease L.</div><div class="text-lg md:text-xl text-gray-600">From Maryland</div>
          </div>
        </div>
      </div>
    </section>

    {# <section class="bg-white border-b py-8"> #}

    {#   <div class="container mx-auto flex flex-wrap pt-4 pb-12"> #}

    {#     <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Title</h1> #}
    {#     <div class="w-full mb-4"> #} 
    {#       <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div> #}
    {#     </div> #}

    {#     <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink"> #}
    {#       <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"> #}
    {#         <a href="#" class="flex flex-wrap no-underline hover:no-underline"> #}
    {#           <p class="w-full text-gray-600 text-xs md:text-sm px-6">xGETTING STARTED</p> #}
    {#           <div class="w-full font-bold text-xl text-gray-800 px-6">Lorem ipsum dolor sit amet.</div> #}
    {#           <p class="text-gray-800 text-base px-6 mb-5"> #}
    {#           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. #} 
    {#           </p> #}
    {#         </a> #}
    {#       </div> #}
    {#       <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"> #}
    {#         <div class="flex items-center justify-center"> #}
    {#           <button class="mx-auto lg:mx-0 hover:underline bg-blue-700 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Action</button> #}
    {#         </div> #}
    {#       </div> #}
    {#     </div> #}

    {#     <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink"> #}
    {#       <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"> #}
    {#         <a href="#" class="flex flex-wrap no-underline hover:no-underline"> #}
    {#           <p class="w-full text-gray-600 text-xs md:text-sm px-6">xGETTING STARTED</p> #}
    {#           <div class="w-full font-bold text-xl text-gray-800 px-6">Lorem ipsum dolor sit amet.</div> #}
    {#           <p class="text-gray-800 text-base px-6 mb-5"> #}
    {#           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. #} 
    {#           </p> #}
    {#         </a> #}
    {#       </div> #}
    {#       <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"> #}
    {#         <div class="flex items-center justify-center"> #}
    {#           <button class="mx-auto lg:mx-0 hover:underline bg-blue-700 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Action</button> #}
    {#         </div> #}
    {#       </div> #}
    {#     </div> #}

    {#     <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink"> #}
    {#       <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"> #}
    {#         <a href="#" class="flex flex-wrap no-underline hover:no-underline"> #}
    {#           <p class="w-full text-gray-600 text-xs md:text-sm px-6">xGETTING STARTED</p> #}
    {#           <div class="w-full font-bold text-xl text-gray-800 px-6">Lorem ipsum dolor sit amet.</div> #}
    {#           <p class="text-gray-800 text-base px-6 mb-5"> #}
    {#           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. #} 
    {#           </p> #}
    {#         </a> #}
    {#       </div> #}
    {#       <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"> #}
    {#         <div class="flex items-center justify-center"> #}
    {#           <button class="mx-auto lg:mx-0 hover:underline bg-blue-700 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Action</button> #}
    {#         </div> #}
    {#       </div> #}
    {#     </div> #}

    {#   </div> #}

    {# </section> #}

    <section class="bg-gray-100 py-8">

      <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">

        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Pricing</h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>

        <div class="flex flex-col sm:flex-row justify-center pt-12 my-4">

          <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4 shadow">
            <div class="flex-1 bg-white text-gray-700 rounded-t rounded-b-none overflow-hidden">
              <div class="p-8 text-3xl font-bold text-center border-b-4">Monthly</div>
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">Unlimited Students</li>
                <li class="border-b py-4">Unlimited Courses</li>
                <li class="border-b py-4">Scheduling Peace of Mind</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden p-6">
              <div class="w-full pt-6 text-3xl text-gray-700 font-bold text-center">$4.99 <span class="text-base">/ month</span></div>
              <div class="flex items-center justify-center">
                <a href="{% url "account_signup" %}" class="mx-auto lg:mx-0 hover:underline bg-blue-700 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Start Free Trial</a>
              </div>
            </div>
          </div>

          <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
              <div class="w-full mt-4 pb-2 text-center">
                <span class="bg-yellow-500 text-white text-sm p-1 px-2 rounded-lg">Better Value</a>
              </div>
              <div class="w-full pb-8 text-3xl font-bold text-center">Annual</div>
              <div class="h-1 w-full gradient my-0 py-0"></div>
              <ul class="w-full text-center text-base font-bold">
                <li class="border-b py-4">Unlimited Students</li>
                <li class="border-b py-4">Unlimited Courses</li>
                <li class="border-b py-4">Scheduling Peace of Mind</li>
                <li class="border-b py-4">Save 17% Over Monthly</li>
              </ul>
            </div>
            <div class="bg-blue-700 text-white flex-none mt-auto bg-white rounded-b sm:rounded-bl-none rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-4xl font-bold text-center">$49.99 <span class="text-base">/ year</span></div>
              <div class="flex items-center justify-center">
                <a href="{% url "account_signup" %}" class="mx-auto lg:mx-0 hover:underline bg-yellow-500 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Start Free Trial</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>

    <div class="gradient">
      <svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
        <g class="wave" fill="#f8fafc">
        <path d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"></path>
        </g>
        <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
        <g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
        <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
        <path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
        <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" opacity="0.200000003"></path>
        </g>
        </g>
        </g>
        </g>
      </svg>

    <section class="container mx-auto text-center py-6">

      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">Plan Your School Year</h1>
      <div class="w-full mb-4">
        <div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
      </div>

      <h2 class="mt-4 mb-8 text-3xl leading-tight text-yellow-500">A Simplified Homeschool Is Ahead!</h2>

      <div class="mt-6 mb-12">
        <a href="{% url "account_signup" %}" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg">Start My 60-Day Free Trial</a>
      </div>

    </section>
    </div>

{% endblock %}

  {% block footer_css_border %}{% endblock %}
