{% extends "base.html" %}
{% load static %}

{% block head_title %}Add a Course{% endblock %}

{% block main %}
  {% include "core/start_banner.html" with step="course" %}

  <div class="flex flex-row {% if course or not grade_level %}items-center{% endif %} w-full">
    <div class="w-1/2 mr-8 text-blue-900 font-light">
      {% if grade_level %}
        <p class="mb-8">
          You already created your first course.
          The next step is to create a task for the course.
        </p>
        <div class="text-center">
          <a href="{% url "core:start-course-task" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Make Your First Task</a>
        </div>
      {% elif not school_year %}
        <p class="ml-10 mb-2">
          Each of your students will be enrolled in a grade level for the school year.
          If you have more than one student in your school,
          you will be able to add more grade levels in the future.
        </p>
        <p class="ml-10 mb-2">
          These starting steps are designed to show you all the parts needed
          for one grade,
          and you may add more later.
        </p>
        <p class="ml-10 mb-6">
          Please tell us what you want to call your grade level.
        </p>
        {% include "forms/non_field_errors.html" %}
        <form method="post" class="w-full max-w-lg">
          {% csrf_token %}
          <input type="hidden" name="school_year" value="{{ school_year.id }}">
          <div class="md:flex md:items-center {% if not form.errors.name %}mb-6{% endif %}">
            <div class="md:w-1/4">
              <label class="block text-blue-900 font-light md:text-right mb-1 md:mb-0 pr-4" for="id_name">
                Name
              </label>
            </div>
            <div class="md:w-3/4">
              <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white
                     {% if form.errors.name %}border-red-500 focus:border-red-500{% else %}focus:border-blue-500{% endif %}"
                     id="id_name" type="text" name="name" {% if form.name.value %}value="{{ form.name.value }}"{% endif %}
                     placeholder='e.g., "Math" or "Chemistry"' autofocus required>
            </div>
          </div>
          {% if form.errors.name %}
            <div class="md:flex md:items-center mt-2 mb-6">
              <div class="md:w-1/4"></div>
              <div class="md:w-3/4">
                {% for error_message in form.errors.name %}
                  <p class="text-red-500 text-xs italic">{{ error_message }}</p>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <div class="md:flex md:items-center">
            <div class="md:w-1/4"></div>
            <div class="md:w-3/4 flex flex-col sm:flex-row items-center justify-end">
              <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Create Grade Level
              </button>
            </div>
          </div>
        </form>
      {% else %}
        <p class="mb-8">
          Before you can create a course for your student,
          you must first create a grade level
          that can hold all of their courses.
        </p>
        <div class="text-center">
          <a href="{% url "core:start-grade-level" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Grade Level</a>
        </div>
      {% endif %}
    </div>
    <div class="w-1/2 text-center">
      <div class="mb-8">
        <img src="{% static "course.svg" %}" alt="Teacher contemplating lesson plans">
      </div>
    </div>
  </div>
{% endblock %}
