{% extends "base.html" %}
{% load static %}

{% block head_title %}Welcome To Homeschool App{% endblock %}

{% block main %}
  {% include "core/start_banner.html" with step="welcome" %}

  <div class="flex flex-row w-full">
    <div class="w-1/2 text-center">
      <div class="mb-8">
        <img src="{% static "welcome.svg" %}" alt="Mother and child preparing for school">
      </div>
      <a href="{% url "core:start-school-year" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Start Your School
      </a>
    </div>
    <div class="w-1/2 ml-8 text-blue-900 font-light">
      <p class="mb-4">Thanks for signing up for Homeschool App!</p>
      <p class="mb-4">
        I know from my own home life that managing a child's school schedule is a lot of work.
        I've worked with my wife who homeschools our children to develop this application.
      </p>
      <p class="mb-4">
        This application is the system that we use to keep our school life sane.
        I'm glad I can share it, and I hope the app can bring some sanity to you as well.
      </p>
      <p class="mb-4">
        Setting up for school takes work so we'll walk you through the process
        of starting your school year over the next few pages.
      </p>
      <p class="mb-4">
        I don't expect you to do all of this at once
        because I recognize that building a schedule takes time.
        This walkthrough equips you with the skills to start,
        then you're free to build out your plans
        for the student or students in your home.
      </p>
      <p>Warm regards,<br>Matt Layman, Founder of Homeschool App</p>
    </div>
  </div>
{% endblock %}
