{% extends "base.html" %}
{% load static %}

{% block head_title %}Create a Grade Level{% endblock %}

{% block main %}
  {% include "core/start_banner.html" with step="grade-level" %}

  <div class="flex flex-row {% if grade_level or not school_year %}items-center{% endif %} w-full">
    <div class="w-1/2 text-center">
      <div class="mb-8">
        <img src="{% static "grade-level.svg" %}" alt="Two school friends chatting">
      </div>
    </div>
    <div class="w-1/2 ml-8 text-blue-900 font-light">
      {% if grade_level %}
        <p class="mb-8">
          You already created your first grade level.
          The next step is to create a course.
        </p>
        <div class="text-center">
          <a href="{% url "core:start-course" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add a Course</a>
        </div>
      {% elif school_year %}
        <p class="mb-2">
          Each of your students will be enrolled in a grade level for the school year.
          Let’s set up your first grade level.
          If you have more than one student in your school,
          you will be able to add more grade levels after this walkthrough.
        </p>
        <p class="mb-6">
          Please tell us what you want to call your grade level.
        </p>
        {% include "forms/non_field_errors.html" %}
        <form method="post" class="w-full max-w-lg">
          {% csrf_token %}
          <input type="hidden" name="school_year" value="{{ school_year.id }}">
          {% include "forms/field.html" with field=form.name placeholder="e.g., “Kindergarten” or “6th Grade”" autofocus=True %}
          <div class="md:flex md:items-center">
            <div class="md:w-1/4"></div>
            <div class="md:w-3/4 flex flex-col sm:flex-row items-center justify-end">
              <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Create Grade Level
              </button>
            </div>
          </div>
        </form>
      {% else %}
        <p class="mb-8">
          Before you can create a grade level for your student,
          you must first create a school year
          to set when your school is in session.
        </p>
        <div class="text-center">
          <a href="{% url "core:start-school-year" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create School Year</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
