{% extends "base.html" %}
{% load static %}

{% block head_title %}Add a Course{% endblock %}

{% block main %}
  {% include "core/start_banner.html" with step="course" %}

  <div class="flex flex-row {% if course or not grade_level %}items-center{% endif %} w-full">
    <div class="w-1/2 mr-8 text-blue-900 font-light">
      {% if course %}
        <p class="mb-8">
          Your first course is ready to go.
          The next step is to create a task for the course.
        </p>
        <div class="text-center">
          <a href="{% url "core:start-course-task" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Make Your First Task</a>
        </div>
      {% elif grade_level %}
        <p class="ml-10 mb-2">
          Please tell us a course you want to add to <strong>{{ grade_level }}</strong>.
          Your enrolled student will take the courses
          that you include in the grade level.
        </p>
        <p class="ml-10 mb-2">
          After you’ve created your courses,
          you can arrange them in whatever order you’d like.
          You can also set many other details
          about the course later.
        </p>
        <p class="ml-10 mb-6">
          What is the name of your first course?
        </p>
        {% include "forms/non_field_errors.html" %}
        <form method="post" class="w-full max-w-lg">
          {% csrf_token %}
          <input type="hidden" name="grade_levels" value="{{ grade_level.id }}">
          <input type="hidden" name="default_task_duration" value="30">
          <input type="hidden" name="is_active" value="on">
          <input type="hidden" name="monday" value="on">
          <input type="hidden" name="tuesday" value="on">
          <input type="hidden" name="wednesday" value="on">
          <input type="hidden" name="thursday" value="on">
          <input type="hidden" name="friday" value="on">
          {% include "forms/field.html" with field=form.name placeholder="e.g., “Math” or “Chemistry”" autofocus=True %}
          <div class="md:flex md:items-center">
            <div class="md:w-1/4"></div>
            <div class="md:w-3/4 flex flex-col sm:flex-row items-center justify-end">
              <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Create Course
              </button>
            </div>
          </div>
        </form>
      {% else %}
        <p class="mb-8">
          Before you can create a course for your student,
          you must first create a grade level
          that can hold all of their courses.
        </p>
        <div class="text-center">
          <a href="{% url "core:start-grade-level" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Grade Level</a>
        </div>
      {% endif %}
    </div>
    <div class="w-1/2 text-center">
      <img src="{% static "course.svg" %}" alt="Teacher contemplating lesson plans">
    </div>
  </div>
{% endblock %}
