{% extends "base.html" %}
{% load static %}

{% block head_title %}Start Your School Year{% endblock %}

{% block main %}
  {% include "core/start_banner.html" with step="school-year" %}

  <div class="flex flex-row {% if school_year %}items-center{% endif %} w-full">
    <div class="w-1/2 mr-8 text-blue-900 font-light">
      {% if school_year %}
        <p class="ml-10 mb-8">
          You have a school year.
          The next step is to create a grade level
          for your student.
        </p>
        <div class="text-center">
          <a href="{% url "core:start-grade-level" %}" class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Your Grade Level</a>
        </div>
      {% else %}
        <p class="ml-10 mb-2">
          Everything begins with your school year.
          Each school year tracks your grade levels and sets when school is in session.
        </p>
        <p class="ml-10 mb-6">
          Please tell us when your school year will start and end.
          You can pick a range in the future and adjust the dates later if you are unsure.
        </p>
        {% include "forms/non_field_errors.html" %}
        <form method="post" class="w-full max-w-lg">
          {% csrf_token %}
          <input type="hidden" name="school" value="{{ user.school.id }}">
          {% include "forms/field.html" with field=form.start_date placeholder="9/1/2020" autofocus=True %}
          {% include "forms/field.html" with field=form.end_date placeholder="6/1/2021" %}
          <div class="md:flex md:items-center">
            <div class="md:w-1/4"></div>
            <div class="md:w-3/4 flex flex-col sm:flex-row items-center justify-end">
              <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Create School Year
              </button>
            </div>
          </div>
        </form>
      {% endif %}
    </div>
    <div class="w-1/2 text-center">
      <img src="{% static "time.svg" %}" alt="Woman contemplating time">
    </div>
  </div>
{% endblock %}
