{% extends "base.html" %}

{% block head_title %}Terms of Service{% endblock %}

{% block main %}
  <div class="mx-auto max-w-xl font-extralight text-base text-gray-800">

    <h1 class="font-extralight text-2xl text-blue-900 mb-4">Terms of Service</h1>

    <p class="mb-2"><strong>Last updated:</strong> September 6, 2020.</p>

    <p class="mb-2">Please read these Terms of Service (“Terms”, “Terms of Service”)
    carefully before using the <a class="underline" href="https://www.theschooldesk.app/">https://www.theschooldesk.app/</a> website
    (the “Service”) operated by Matt Layman.
    (“us”, “we”, or “our”).</p>

    <p class="mb-2">Your access to and use of the Service is conditioned on your
    acceptance of and compliance with these Terms. These Terms apply to
    all visitors, users and others who access or use the Service.</p>

    <p class="mb-2">By accessing or using the Service you agree to be bound by these Terms.
    If you disagree with any part of the terms then you may not access the
    Service.</p>

    <h3 class="font-extralight text-xl text-blue-900 my-4" id="termination">Termination</h3>

    <p class="mb-2">We may terminate or suspend access to our Service immediately,
    without prior notice or liability, for any reason whatsoever,
    including without limitation if you breach the Terms.</p>

    <p class="mb-2">All provisions of the Terms which by their nature should survive
    termination shall survive termination, including, without limitation,
    ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

    <h3 class="font-extralight text-xl text-blue-900 my-4" id="links-to-other-web-sites">Links To Other Web Sites</h3>

    <p class="mb-2">Our Service may contain links to third­party web sites or services
    that are not owned or controlled by Matt Layman.</p>

    <p class="mb-2">Matt Layman has no control over, and assumes
    no responsibility for, the content, privacy policies, or practices of
    any third party web sites or services. You further acknowledge and
    agree that Matt Layman shall not be responsible
    or liable, directly or indirectly, for any damage or loss caused
    or alleged to be caused by or in connection with use of or reliance
    on any such content, goods or services available on or through any
    such web sites or services.</p>

    <p class="mb-2">We strongly advise you to read the terms and conditions and
    privacy policies of any third­party web sites or services that you visit.</p>

    <h3 class="font-extralight text-xl text-blue-900 my-4" id="governing-law">Governing Law</h3>

    <p class="mb-2">These Terms shall be governed and construed in accordance with the
    laws of the United States of America without regard to its conflict
    of law provisions.</p>

    <p class="mb-2">Our failure to enforce any right or provision of these Terms will not
    be considered a waiver of those rights. If any provision of these
    Terms is held to be invalid or unenforceable by a court, the
    remaining provisions of these Terms will remain in effect. These
    Terms constitute the entire agreement between us regarding our Service,
    and supersede and replace any prior agreements we might have between
    us regarding the Service.</p>

    <h3 class="font-extralight text-xl text-blue-900 my-4" id="changes">Changes</h3>

    <p class="mb-2">We reserve the right, at our sole discretion, to modify or replace
    these Terms at any time. If a revision is material we will try to
    provide at least 30 days notice prior to any new terms taking effect.
    What constitutes a material change will be determined at our sole discretion.</p>

    <p class="mb-2">By continuing to access or use our Service after those revisions
    become effective, you agree to be bound by the revised terms.
    If you do not agree to the new terms, please stop using the Service.</p>

    <h3 class="font-extralight text-xl text-blue-900 my-4" id="contact-us">Contact Us</h3>

    <p class="mb-2">If you have any questions about these Terms,
    please contact us.
    </p>

  </div>
{% endblock %}
