<div class="md:flex md:items-center {% if not field.errors %}mb-6{% endif %}">
  <div class="md:w-1/4">
    <label class="block text-blue-900 font-thin md:text-right mb-1 md:mb-0 pr-4" for="{{ field.id_for_label }}">
      {{ field.label|title }}
    </label>
  </div>
  <div class="md:w-3/4">
    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white
      {% if field.errors %}border-red-500 focus:border-red-500{% else %}focus:border-blue-500{% endif %}"
      id="{{ field.id_for_label }}"
      type="{{ field.field.widget.input_type }}"
      name="{{ field.name }}"
      {% if field.value %}
        {# This is basically a hack to determine the field type. #}
        {% if field.field.widget.template_name == 'django/forms/widgets/date.html' %}
          value="{{ field.value|date:"n/j/Y"|default:field.value }}"
        {% else %}
          value="{{ field.value }}"
        {% endif %}
      {% endif %}
      {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
      {% if autofocus %}autofocus{% endif %}
      {% include "django/forms/widgets/attrs.html" %}
      {% if field.required %}required{% endif %}
    >
  </div>
</div>
{% if field.errors %}
  <div class="md:flex md:items-center mt-2 mb-6">
    <div class="md:w-1/4"></div>
    <div class="md:w-3/4">
      {% for error_message in field.errors %}
        <p class="text-red-500 text-xs italic">{{ error_message }}</p>
      {% endfor %}
    </div>
  </div>
{% endif %}
