<div class="md:flex md:items-center {% if not no_bottom_margin %}{% if not field.errors %}mb-6{% endif %}{% endif %}">
  {% if no_label %}
    <div class="w-full">
  {% else %}
    <div class="md:w-1/4 {% if field.field.widget.input_type == "checkbox" %}self-start{% endif %}">
      <label class="block text-blue-900 font-extralight md:text-right mb-1 md:mb-0 pr-4" for="{{ field.id_for_label }}">
        {{ field.label|title }}
      </label>
    </div>
    <div class="md:w-3/4">
  {% endif %}
    {% if textarea %}
      <textarea class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
        rows="4"
        id="{{ field.id_for_label }}"
        name="{{ field.html_name }}"
        {% if autofocus %}autofocus{% endif %}
        {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
        {% if hx_trigger %}hx-trigger="{{ hx_trigger }}"{% endif %}
        >{% if field.value %}{{ field.value|safe|escape }}{% endif %}</textarea>
    {% elif field.field.widget.input_type == "checkbox" %}
      <input class="ml-1" type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {% if field.value %}checked{% endif %}>
      {% if field.help_text %}
        <div class="ml-1 mt-2 text-sm text-gray-600 font-extralight">{{ field.help_text }}</div>
      {% endif %}
    {% else %}
      <input class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none
        {% if field.errors %}border-red-500 focus:border-red-500{% else %}focus:border-blue-500{% endif %}"
        id="{{ field.id_for_label }}"
        type="{{ field.field.widget.input_type }}"
        name="{{ field.html_name }}"
        {% if field.value %}
          {# This is basically a hack to determine the field type. #}
          {% if field.field.widget.template_name == 'django/forms/widgets/date.html' %}
            value="{{ field.value|date:"n/j/Y"|default:field.value }}"
          {% else %}
            value="{{ field.value }}"
          {% endif %}
        {% endif %}
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if autofocus %}autofocus{% endif %}
        {% include "django/forms/widgets/attrs.html" %}
        {% if field.field.required and not dont_require %}required{% endif %}
      >
    {% endif %}
  </div>
</div>
{% if field.errors %}
  <div class="md:flex md:items-center mt-2 mb-6">
    <div class="md:w-1/4"></div>
    <div class="md:w-3/4">
      {% for error_message in field.errors %}
        <p class="text-red-500 text-xs italic">{{ error_message }}</p>
      {% endfor %}
    </div>
  </div>
{% endif %}
