.print-hide {
    display: none;
}

.print-no-color {
    background-color: unset;
}

.print-no-max-width {
    max-width: none;
}

.print-break-after-page {
    break-after: page;
}

.print-w-full {
    width: 100%;
}
