{% extends "base.html" %}

{% block head_title %}Forbidden{% endblock %}

{% block main %}
  <div class="max-w-xl mx-auto">
    <h1 class="font-extralight text-2xl text-blue-900 mb-8">
      Forbidden
    </h1>

    <p class="font-extralight text-base text-gray-800 mb-6">
      You do not have permission to view this page.
      If you think something is missing that shouldn't be,
      please contact support and I will look into it.
    </p>

    <img class="mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTNzYndyMHRqNWkwejcxdDZxMHdsaWVuajhzeWc5a3J0enNhaWwxNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/njYrp176NQsHS/giphy-downsized-large.gif">
  </div>
{% endblock %}

{% block tz %}{% endblock %}
