{% extends "base.html" %}

{% block head_title %}Not Found{% endblock %}

{% block main %}
  <div class="max-w-xl mx-auto">
    <h1 class="font-extralight text-2xl text-blue-900 mb-8">
      Not Found
    </h1>

    <p class="font-extralight text-base text-gray-800 mb-2">
      Sorry, we can't find what you're looking for.
      If you think something is missing that shouldn't be,
      please contact support and I will look into it.
    </p>
  </div>
{% endblock %}

{% block tz %}{% endblock %}
