{% load django_htmx static tz_detect %}
<!DOCTYPE html>
<html lang="en-US" class="bg-white subpixel-antialiased">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="online, homeschool, planner">
  <meta name="google-site-verification" content="bAMlcH_8izw19eErEiZaAd2P2VeAofBt7-1wxAhJiRY" />
  <meta name="description" content="School Desk helps you with your homeschool planning with a simple to use online app. Add your courses and School Desk will build a schedule for you automatically.">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@SchoolDeskApp">
  <meta name="twitter:title" content="School Desk - Simple Planning for Your Homeschool">
  <meta name="twitter:description" content="School Desk helps you with your homeschool planning with a simple to use online app. Add your courses and School Desk will build a schedule for you automatically.">
  <meta name="twitter:image" content="https://www.theschooldesk.app{% static "social/twitter-card-large.png" %}">
  <meta name="twitter:image:alt" content="School Desk logo and tagline">

  <meta property="og:type" content="website">
  <meta property="og:title" content="School Desk - Simple Planning for Your Homeschool">
  <meta property="og:url" content="https://www.theschooldesk.app">
  <meta property="og:description" content="School Desk helps you with your homeschool planning with a simple to use online app. Add your courses and School Desk will build a schedule for you automatically.">
  <meta property="og:site_name" content="School Desk">
  <meta property="og:image" content="https://www.theschooldesk.app{% static "social/twitter-card-large.png" %}">
  <meta property="og:image:url" content="https://www.theschooldesk.app{% static "social/twitter-card-large.png" %}">
  <meta property="og:image:secure_url" content="https://www.theschooldesk.app{% static "social/twitter-card-large.png" %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1494">
  <meta property="og:image:height" content="642">
  <meta property="og:image:alt" content="School Desk logo and tagline">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
  <link href="{% static "site.css" %}" rel="stylesheet">
  {% block styles %}{% endblock %}
  <title>{% block head_title %}{% endblock %} &ndash; School Desk</title>
</head>
<body class="min-h-screen flex flex-col">

  {% block navigation %}
    {% include "nav.html" %}
    {% include "sub_nav.html" %}
  {% endblock %}

  <main class="{% block main_css_classes %}container mx-auto p-8 grow print:max-w-none{% endblock %}">

    {% if messages %}
    <ul class="flex flex-row justify-center mx-4 -mt-4 mb-4 w-full">
      {% for message in messages %}
        {% block message_block %}
          <li class="bg-yellow-200 border border-yellow-300 text-blue-900 p-4 mx-2 rounded-lg shadow-sm">{{ message }}</li>
        {% endblock %}
      {% endfor %}
    </ul>
    {% endif %}

    {% block main %}{% endblock %}
  </main>

  <footer class="container mx-auto {% block footer_css_border %}border-t border-gray-400{% endblock %} p-4 text-center text-sm text-gray-600 print:hidden">
    <span class="mx-1">
      <a href="{% url "core:index" %}" class="hover:text-gray-900">&copy; {% now "Y" %} School Desk</a>
    </span>
    <a href="{% url "core:about" %}" class="mx-1 hover:text-gray-900">About</a>
    <a href="{% url "core:terms" %}" class="mx-1 hover:text-gray-900">Terms</a>
    <a href="{% url "core:privacy" %}" class="mx-1 hover:text-gray-900">Privacy</a>
    <a href="/blog/" class="mx-1 hover:text-gray-900">Blog</a>
    <a href="{% url "core:help" %}" class="mx-1 hover:text-gray-900">Help</a>
    {% if user.is_authenticated %}
      <form class="inline" method="POST" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button class="mx-1 hover:text-gray-900" type="submit">Log Out</button>
      </form>
    {% endif %}
    <div class="mt-2">
      Lovingly built in <a class="hover:underline" rel="noopener" href="https://www.cityoffrederickmd.gov/" target="_blank">Frederick, Maryland</a>
    </div>
  </footer>
  <script src="{% static "js/htmx-1.1.0.min.js" %}"></script>
  {% django_htmx_script %}
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
  {% block tz %}{% tz_detect %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
