{% load hijack_tags static waffle_tags %}
<nav class="flex
  {% if request|is_hijacked %}
    bg-red-700
  {% else %}
    {% if light %}bg-white{% else %}bg-blue-700{% endif %}
  {% endif %}
  {% if light %}text-blue-900{% else %}text-white{% endif %} border-b border-blue-400 sm:h-16 items-center print-hide">
  <div class="w-full max-w-6xl relative mx-auto px-6">
    <div class="py-2 flex flex-col sm:flex-row sm:items-center">
      <a href="{% url "core:index" %}" class="block py-1 flex items-center justify-center">
        <img class="h-10 w-10 mr-2" src="{% static "logo.svg" %}" alt="School Desk">
        <h1 class="text-lg uppercase tracking-wider font-thin">School Desk</h1>
      </a>
      <div class="flex-grow"></div>

      <div class="flex flex-row justify-around py-2">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <div class="mr-4">
              <a class="hover:underline font-light" href="{% url "admin:index" %}">
                Office
              </a>
            </div>
            <div class="mr-4">
              <a class="hover:underline font-light" href="{% url "office:dashboard" %}">
                Dashboard
              </a>
            </div>
          {% endif %}
          {% if request|is_hijacked %}
            <div class="mr-4 font-light">
              As: {{ user.email }}
            </div>
            <form class="mr-4" method="POST" action="{% url 'hijack:release' %}">
              {% csrf_token %}
              <button class="hover:underline font-light" type="submit">Release</button>
            </form>
          {% endif %}
          {% if return_to_app %}
            <div>
              <a class="hover:underline font-light" href="{% url "core:dashboard" %}">
                Return to App ⇒
              </a>
            </div>
          {% endif %}
        {% else %}
          <div>
            <a class="hover:underline font-light" href="{% url 'account_login' %}">Log In</a>
          </div>
          <div>
            <a class="ml-0 sm:ml-4 my-2 font-light bg-gradient-to-br from-yellow-500 to-yellow-600 hover:from-yellow-400 hover:to-yellow-500 text-white p-3 rounded-lg" href="{% url 'account_signup' %}">Free Trial</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
