{% extends "app_base.html" %}

{% block head_title %}{% if create %}Add Course{% else %}Edit {{ course.name }}{% endif %}{% endblock %}

{% block main %}
  <h1 class="flex-grow font-thin text-2xl text-blue-900 mb-8">
    {% if create %}
      Add Course
    {% else %}
      {{ course.name }}
    {% endif %}
  </h1>

  {% include "forms/non_field_errors.html" %}

  <form method="POST" class="w-full max-w-2xl">
    {% csrf_token %}
    {% include "forms/field.html" with field=form.name autofocus=True %}
    {% include "forms/field.html" with field=form.default_task_duration %}
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/4">
        <div class="block text-gray-800 font-thin md:text-right mb-1 md:mb-0 pr-4">
          Days of week
        </div>
      </div>
      <div class="md:w-3/4">
        <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
          <input type="checkbox" name="sunday" {% if form.sunday.value %}checked{% endif %}>
          Sun.
        </label>
        <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
          <input type="checkbox" name="monday" {% if form.monday.value %}checked{% endif %}>
          Mon.
        </label>
        <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
          <input type="checkbox" name="tuesday" {% if form.tuesday.value %}checked{% endif %}>
          Tues.
        </label>
        <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
          <input type="checkbox" name="wednesday" {% if form.wednesday.value %}checked{% endif %}>
          Wed.
        </label>
        <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
          <input type="checkbox" name="thursday" {% if form.thursday.value %}checked{% endif %}>
          Thurs.
        </label>
        <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
          <input type="checkbox" name="friday" {% if form.friday.value %}checked{% endif %}>
          Fri.
        </label>
        <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
          <input type="checkbox" name="saturday" {% if form.saturday.value %}checked{% endif %}>
          Sat.
        </label>
      </div>
    </div>
    <div class="md:flex md:items-center {% if not form.errors.grade_levels %}mb-6{% endif %}">
      <div class="md:w-1/4">
        <div class="block text-gray-800 font-thin md:text-right mb-1 md:mb-0 pr-4">
          Grade Level
        </div>
      </div>
      <div class="md:w-3/4">
        {% for selectable_grade_level in form.grade_levels %}
          <label class="p-1 mr-2 text-sm font-thin rounded hover:bg-gray-200">
            <input type="checkbox" value="{{ selectable_grade_level.data.value }}"
              name="grade_levels"
              {% if selectable_grade_level.data.selected %}
                checked
              {% elif grade_level and grade_level.id == selectable_grade_level.data.value %}
                checked
              {% endif %}
              >
            {{ selectable_grade_level.choice_label }}
          </label>
        {% endfor %}
      </div>
    </div>
    {% if form.errors.grade_levels %}
      <div class="md:flex md:items-center mt-2 mb-6">
        <div class="md:w-1/4"></div>
        <div class="md:w-3/4">
          {% for error_message in form.errors.grade_levels %}
            <p class="text-red-500 text-xs italic">{{ error_message }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="md:flex md:items-center">
      <div class="md:w-1/4"></div>
      <div class="md:w-3/4 flex flex-col sm:flex-row items-center justify-end">
        {% if create %}
          <a href="{% url "schools:current_school_year" %}"
            class="hover:bg-gray-200 text-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Cancel
          </a>
        {% else %}
          <a href="{% url "courses:detail" course.uuid %}"
            class="hover:bg-gray-200 text-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Cancel
          </a>
        {% endif %}
        <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline" type="submit">
          {% if create %}Add Course{% else %}Update{% endif %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
