{% extends "app_base.html" %}

{% block head_title %}{{ course.name }}{% endblock %}

{% block main %}
  <h1 class="flex-grow font-extralight text-2xl text-blue-900 mb-8">
    {% if school_year %}
      <a href="{% url "schools:school_year_detail" school_year.id %}" class="hover:underline">{{ school_year }} School Year</a>
      <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    {% endif %}
    {% if grade_levels %}
      {% for grade_level in grade_levels %}
        <a href="{% url "schools:school_year_detail" school_year.id %}#grade-level-{{ grade_level.id }}" class="hover:underline">{{ grade_level }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    {% endif %}
    {{ course.name }}
    <a href="{% url "courses:edit" course.id %}" class="text-gray-400 hover:text-gray-700 print-hide">
      <svg class="h-5 w-5 ml-2 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <title>Edit Course</title>
        <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
      </svg>
    </a>
  </h1>

  {% if not course.is_running %}
    <div class="flex flex-row items-center bg-yellow-200 border border-yellow-300 text-blue-900 p-4 mb-8 rounded-lg shadow-sm max-w-xl">
      <span class="text-yellow-500 mr-4">
        <svg class="h-8 w-8 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 5h2v6H9V5zm0 8h2v2H9v-2z"/></svg>
      </span>
      <div>
        The course is not running on any days. Projected completion dates are not available.
      </div>
    </div>
  {% endif %}

  {% if not course.is_active %}
    <p class="font-extralight text-base text-gray-800 mb-8">
      This course is currently <strong>inactive</strong> and will not appear on the schedule.
    </p>
  {% endif %}

  <p class="mb-8 print-hide">
    {% if course_tasks %}
      <a href="{% url "courses:task_create" pk=course.id %}{% if last_task %}?previous_task={{ last_task.id }}&next={{ request.path|urlencode }}%23task-{{ last_task.id }}{% endif %}"
        class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring mr-2">
        Add New Task
      </a>
      <a href="{% url "courses:resource_create" pk=course.id %}"
        class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring mr-2">
        Add New Resource
      </a>
      <a href="{% url "courses:task_delete_bulk" pk=course.id %}"
        class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring mr-2">
        Delete Multiple Tasks
      </a>
    {% endif %}

  </p>

  {% include "courses/_toggle_completed_tasks.html" with css_classes="mb-2" %}

  {% if task_details %}
    <div class="flex flex-row max-w-4xl text-sm uppercase tracking-wide font-extralight print-no-max-width print-w-full">
      <div class="p-2 w-6/12">Task</div>
      <div class="p-2 w-2/12 print-hide"></div>
      {% if enrolled_students %}
        {% for enrolled_student in enrolled_students %}
          <div class="p-2 w-2/12 print:w-3/12 pl-9">{{ enrolled_student.first_name }}</div>
        {% endfor %}
      {% elif course.is_running %}
        <div class="flex flex-row items-center p-2 w-4/12 pl-9">
          <div class="text-blue-800">
            <svg class="h-4 w-4 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <title>Projected Completion Date</title>
              <path d="M11 9h2v2H9V7h2v2zm-5.82 6.08a6.98 6.98 0 0 1 0-10.16L6 0h8l.82 4.92a6.98 6.98 0 0 1 0 10.16L14 20H6l-.82-4.92zM10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10z"/>
            </svg>
          </div>
          <div>
            Planned Completion
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% include "courses/course_tasks.html" %}

  {% include "courses/_toggle_completed_tasks.html" with css_classes="mt-4" %}

  {% if course.resources.all %}
    <h1 class="font-extralight text-2xl text-blue-900 mt-8 mb-4">Resources</h1>
    <ul class="max-w-2xl">
      {% for resource in course.resources.all %}
        <li class="border-t border-yellow-400">
          <a class="block px-2 py-4 hover:bg-yellow-200"
            href="{% url "courses:resource_edit" resource.id %}">
            <div class="font-light">{{ resource.title }}</div>
            <div class="text-sm text-gray-700 font-light">{{ resource.details|linebreaksbr }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="flex flex-row mt-8">
      <div class="w-3/5">
        <div class="">
          <h2 class="font-extralight text-xl text-blue-900 mb-2">Add a Resource</h2>
          <p class="mb-8 font-light">
            Keep track of your textbooks, workbooks,
            or any other materials
            related to this course.
          </p>
          <a href="{% url "courses:resource_create" pk=course.id %}"
            class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring mr-2">
            Add Resource
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
