{% extends "app_base.html" %}

{% block styles %}
  <style>
    .form-row.htmx-settling {
      opacity: 0;
    }
    .form-row {
      opacity: 1;
      transition: opacity 250ms ease-out;
    }
  </style>
{% endblock %}

{% block head_title %}Add Course Tasks{% endblock %}

{% block main %}
  <h1 class="font-thin text-2xl text-blue-900 mb-8">Add Course Tasks for {{ course }}</h1>

  {% if previous_task %}
    <div class="max-w-lg">
      <div class="bg-blue-100 rounded p-2 mb-4">
        <p class="font-thin text-base text-gray-800 mb-2">
          <strong>Previous Task:</strong>
        </p>
        <p class="font-thin text-base text-gray-800">
          {{ previous_task.description|linebreaksbr }}
        </p>
      </div>
    </div>
  {% endif %}

  <div class="w-full max-w-3xl">
    <div class="flex flex-row text-sm uppercase tracking-wide font-thin mb-4">
      <div class="w-3/6">Description</div>
      <div class="w-2/6">Duration{% if course.has_many_grade_levels %} / Grade Levels{% endif %}</div>
      <div class="w-1/6 text-center">Graded?</div>
    </div>

    <form method="post" id="bulk-form">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
        {% include "courses/coursetask_bulk_single_form.html" with form=form course=course grade_levels=grade_levels replace_element="#form-row-10" form_number=forloop.counter0 %}
      {% endfor %}
      <span class="form-row" id="form-row-10"></span>
      <div class="md:flex md:items-center">
        <div class="md:w-1/4"></div>
        <div class="md:w-3/4 text-right">
          <button id="bulk-add-button" class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Add
          </button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    function submitForms() {
      let filledFormCount = 0;
      let descriptions = document.querySelectorAll('[id$="-description"]');
      for (let description of descriptions) {
        if (description.value !== "") {
          filledFormCount++;
        }
      }
      let totalInput = document.getElementById("id_form-TOTAL_FORMS");
      totalInput.value = filledFormCount;
    }
    document.getElementById("bulk-add-button").addEventListener("click", submitForms);
  </script>
{% endblock %}
