{% extends "app_base.html" %}

{% block head_title %}{% if create %}Add{% else %}Edit{% endif %} Resource{% endblock %}

{% block main %}
  <h1 class="font-extralight text-2xl text-blue-900 mb-8">{% if create %}Add{% else %}Edit{% endif %} Resource for {{ course }}</h1>
  <form method="post" class="w-full max-w-lg">
    {% csrf_token %}
    <input type="hidden" name="course" value="{{ course.id }}">
    {% include "forms/field.html" with field=form.title autofocus=True %}
    {% include "forms/field.html" with field=form.details textarea=True %}
    <div class="md:flex md:items-center">
      <div class="md:w-1/4"></div>
      {% if create %}
        <div class="md:w-3/4 text-right">
          <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring" type="submit">
            Add
          </button>
        </div>
      {% else %}
        <div class="md:w-3/4 flex flex-col sm:flex-row items-center">
          <a href="{% url "courses:resource_delete" courseresource.id %}"
            class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring" type="submit">
            Delete
          </a>
          <div class="flex-grow"></div>
          <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:ring" type="submit">
            Update
          </button>
        </div>
      {% endif %}
    </div>
  </form>
{% endblock %}
