{% extends "app_base.html" %}
{% load static %}

{% block head_title %}{{ course.name }}{% endblock %}

{% block main %}
  <h1 class="flex-grow font-thin text-2xl text-blue-900 mb-8">
    {% if school_year %}
      <a href="{% url "schools:school_year_detail" school_year.uuid %}" class="hover:underline">{{ school_year }} School Year</a>
      <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    {% endif %}
    {% if grade_levels %}
      {{ grade_levels|join:", " }}
      <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    {% endif %}
    {{ course.name }}
  </h1>

  <p class="mb-8">
  <a href="{% url "courses:task_create" uuid=course.uuid %}{% if last_task %}?previous_task={{ last_task.uuid }}&next={{ request.path|urlencode }}%23task-{{ last_task.uuid }}{% endif %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
      Add New Task
    </a>
    <a href="{% url "courses:resource_create" uuid=course.uuid %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
      Add New Resource
    </a>
    <a href="{% url "courses:edit" uuid=course.uuid %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Edit Course
    </a>
  </p>

  {% if course_tasks %}
    <div class="flex flex-col sm:flex-row max-w-2xl text-sm uppercase tracking-wide font-thin">
      <div class="p-2 w-10/12">Task</div>
      <div class="p-2 w-2/12"></div>
    </div>
  {% endif %}

  {% for task in course_tasks %}
    <div id="task-{{ task.uuid }}" class="flex flex-col sm:flex-row border-t border-yellow-400 max-w-2xl">
      <div class="w-8/12 p-2 text-sm font-light overflow-x-scroll">
        <a href="{% url "courses:task_edit" uuid=task.uuid %}?next={{ request.path|urlencode }}%23task-{{ task.uuid }}" class="hover:text-gray-600">
          {{ task.description|linebreaksbr }}
        </a>
      </div>
      <div class="w-2/12 p-2 text-sm font-light flex items-center overflow-x-scroll">
        {% if task.grade_level %}
          {{ task.grade_level.name }}
        {% endif %}
      </div>
      <div class="p-2 flex items-center justify-center w-2/12 text-gray-300">
        {% if task.graded_work %}
          <svg class="h-4 w-4 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Graded Task</title>
            <path d="M7.03 2.6a3 3 0 0 1 5.94 0L15 3v1h1a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h1V3l2.03-.4zM5 6H4v12h12V6h-1v1H5V6zm5-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        {% else %}
          <div class="h-4 w-4 mr-2"></div>
        {% endif %}
        <a href="{% url "courses:task_create" uuid=course.uuid %}?previous_task={{ task.uuid }}&next={{ request.path|urlencode }}%23task-{{ task.uuid }}" class="block mr-2 hover:text-gray-600">
          <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Add Task After This Task</title>
            <path d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"/>
          </svg>
        </a>
        <form method="POST" action="{% url "courses:task_up" uuid=task.uuid %}">
          {% csrf_token %}
          <button type="submit" class="block mr-2 hover:text-gray-600">
            <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <title>Move Task Up</title>
              <path d="M0 10a10 10 0 1 1 20 0 10 10 0 0 1-20 0zm10 8a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm.7-10.54L14.25 11l-1.41 1.41L10 9.6l-2.83 2.8L5.76 11 10 6.76l.7.7z"/>
            </svg>
          </button>
        </form>
        <form method="POST" action="{% url "courses:task_down" uuid=task.uuid %}">
          {% csrf_token %}
          <button type="submit" class="block mr-2 hover:text-gray-600">
            <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <title>Move Task Down</title>
              <path d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zM10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm-.7 10.54L5.75 9l1.41-1.41L10 10.4l2.83-2.82L14.24 9 10 13.24l-.7-.7z"/>
            </svg>
          </button>
        </form>
      </div>
    </div>
  {% empty %}
    <div class="flex flex-row justify-between">
      <div class="w-2/5">
        <div class="m-8 mt-8 ml-12">
          <img src="{% static "todo.svg" %}" alt="Things to do">
        </div>
      </div>
      <div class="w-3/5">
        <div class="m-8 ml-12">
          <h2 class="font-thin text-xl text-blue-900 mb-2">Add Your First Task</h2>
          <p class="mb-1 font-light">
            What do students do in this course?
            Each course is a collection of tasks.
          </p>
          <p class="mb-8 font-light">
            Let’s add one to begin.
          </p>
          <a href="{% url "courses:task_create" uuid=course.uuid %}"
            class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
            Add Task
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if course.resources.all %}
    <h1 class="font-thin text-2xl text-blue-900 mt-8 mb-4">Resources</h1>
    <ul class="max-w-2xl">
      {% for resource in course.resources.all %}
        <li class="border-t border-yellow-400">
          <a class="block px-2 py-4 hover:bg-yellow-200"
            href="{% url "courses:resource_edit" resource.uuid %}">
            <div class="font-light">{{ resource.title }}</div>
            <div class="text-sm text-gray-700 font-light">{{ resource.details|linebreaksbr }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="flex flex-row mt-8">
      <div class="w-3/5">
        <div class="">
          <h2 class="font-thin text-xl text-blue-900 mb-2">Add a Resource</h2>
          <p class="mb-8 font-light">
            Keep track of your textbooks, workbooks,
            or any other materials
            related to this course.
          </p>
          <a href="{% url "courses:resource_create" uuid=course.uuid %}"
            class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
            Add Resource
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
