{% extends "app_base.html" %}

{% block head_title %}Delete Course{% endblock %}

{% block main %}
  <h1 class="font-extralight text-2xl text-blue-900 mb-8">Delete Course: {{ course.name }}</h1>

  {% if tasks_count or grades_count or coursework_count or course_resources_count %}
    <p class="mb-4">Deleting this course will also permanently delete:</p>
  {% endif %}

  <ul class="list-disc list-inside mb-8">
    {% if tasks_count %}
      <li class="py-1">Tasks: {{ tasks_count }}</li>
    {% endif %}
    {% if coursework_count %}
      <li class="py-1">Completed student coursework: {{ coursework_count }}</li>
    {% endif %}
    {% if grades_count %}
      <li class="py-1">Grades: {{ grades_count }}</li>
    {% endif %}
    {% if course_resources_count %}
      <li class="py-1">Resources: {{ course_resources_count }}</li>
    {% endif %}
  </ul>

  <form method="POST">
    {% csrf_token %}
    <p class="mb-4">Are you sure you want to delete this course?</p>
    <button class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring" type="submit">
      Delete
    </button>
  </form>
{% endblock %}
