{% extends "app_base.html" %}

{% block head_title %}{% if create %}Add{% else %}Edit{% endif %} Course Task{% endblock %}

{% block main %}
  <h1 class="font-thin text-2xl text-blue-900 mb-8">{% if create %}Add{% else %}Edit{% endif %} Course Task for {{ course }}</h1>

  <div class="max-w-lg">
    {% if previous_task %}
      <div class="bg-blue-100 rounded p-2 mb-4">
        <p class="font-thin text-base text-gray-800 mb-2">
          <strong>Previous Task:</strong>
        </p>
        <p class="font-thin text-base text-gray-800">
          {{ previous_task.description|linebreaksbr }}
        </p>
      </div>
    {% endif %}

    {% if create %}
      <p class="font-thin text-base text-gray-800 mb-4">
        Want to add more at once?
        <a class="underline" href="{% url "courses:task_create_bulk" course.uuid %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}">Use Bulk Create</a>
      </p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="course" value="{{ course.id }}">
      {% include "forms/field.html" with field=form.description textarea=True autofocus=True %}
      {% include "forms/field.html" with field=form.duration %}
      {% include "forms/field.html" with field=form.is_graded %}
      {% if course.has_many_grade_levels %}
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/4">
            <label class="block text-gray-800 font-thin md:text-right mb-1 md:mb-0 pr-4" for="id_grade_level">
              For
            </label>
          </div>
          <div class="md:w-3/4">
            <div class="relative">
              <select class="block appearance-none w-full bg-white border-2 border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-blue-500" id="id_grade_level" name="grade_level">
                <option value="">All grade levels</option>
                {% for grade_level in grade_levels %}
                  <option value="{{ grade_level.id }}"
                  {% if grade_level == coursetask.grade_level %}
                    selected
                  {% endif %}
                  >{{ grade_level.name }}</option>
                {% endfor %}
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <input type="hidden" name="grade_level" value="">
      {% endif %}
      <div class="md:flex md:items-center">
        <div class="md:w-1/4"></div>
        {% if create %}
          <div class="md:w-3/4 text-right">
            <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Add
            </button>
          </div>
        {% else %}
          <div class="md:w-3/4 flex flex-col sm:flex-row items-center">
            <a href="{% url "courses:task_delete" coursetask.course.uuid coursetask.uuid %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
              class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Delete
            </a>
            {% if request.GET.next %}
              <div class="flex-grow"></div>
              <a href="{{ request.GET.next }}"
                class="hover:bg-gray-200 text-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Cancel
              </a>
            {% else %}
              <div class="flex-grow"></div>
            {% endif %}
            <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline" type="submit">
              Update
            </button>
          </div>
        {% endif %}
      </div>
      {% if create %}
        <h2 class="font-thin text-xl text-blue-900 mt-2 mb-4">More Options</h2>
        <div class="md:flex md:items-center mb-2">
          <div class="md:w-1/4"></div>
          <div class="md:w-3/4">
            <label class="block w-full pl-1 py-2 text-blue-900 font-thin rounded hover:bg-gray-200">
              <input onchange="toggleAutonumber(this)" class="mr-2" type="checkbox" name="replicate">
              Replicate <input class="w-20 bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" type="number" name="replicate_count" value="2" min="1" max="{{ max_tasks }}"> times
            </label>
          </div>
        </div>
        <div class="md:flex md:items-center opacity-0 transition duration-200 ease-in-out" id="autonumber_option">
          <div class="md:w-1/4"></div>
          <div class="md:w-3/4">
            <label class="block w-full pl-1 py-2 text-blue-900 font-thin rounded hover:bg-gray-200">
              <input class="mr-2" type="checkbox" name="autonumber">
              Number each task
            </label>
            <p class="p-1 text-sm text-blue-900 font-thin">
              Example: “Lesson” creates “Lesson 1”, “Lesson 2”, etc.
            </p>
          </div>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    function toggleAutonumber(checkBox) {
      let autonumberOption = document.getElementById('autonumber_option');
      if (checkBox.checked) {
        autonumberOption.classList.replace('opacity-0', 'opacity-100');
      } else {
        autonumberOption.classList.replace('opacity-100', 'opacity-0');
      }
    }
  </script>
{% endblock %}
