name: Tests Runner
on:
  - push
  - pull_request

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-20.04
    env:
      ALLOWED_HOSTS: '*'
      AWS_ACCESS_KEY_ID: 'a secret to everybody'
      AWS_SECRET_ACCESS_KEY: 'a secret to everybody'
      DATABASE_SSL_REQUIRE: 'off'
      DJSTRIPE_WEBHOOK_SECRET: 'whsec_asecrettoeverybody'
      DJSTRIPE_WEBHOOK_VALIDATION: ''
      HASHID_FIELD_SALT: 'a secret to everybody'
      IS_SECURE: 'off'
      ROLLBAR_ENABLED: 'off'
      ROLLBAR_ACCESS_TOKEN: 'a secret to everybody'
      SECRET_KEY: 'a secret to everybody'
      SECURE_SSL_REDIRECT: 'off'
      SENDGRID_API_KEY: 'a secret to everybody'
      SENTRY_ENABLED: 'off'
      STRIPE_LIVE_MODE: 'off'
      STRIPE_LIVE_SECRET_KEY: 'sk_live_asecrettoeverybody'
      STRIPE_TEST_SECRET_KEY: 'sk_test_asecrettoeverybody'
      STRIPE_TEST_PUBLISHABLE_KEY: 'pk_test_asecrettoeverybody'

    steps:
      - name: Get the code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          architecture: 'x64'
          cache: 'pip'
          cache-dependency-path: 'requirements*.txt'

      - name: Install packages
        run: |
          # Postgres dev headers for pg_config
          # libpq-dev
          # Graphviz support
          # python3-dev graphviz libgraphviz-dev
          sudo apt install \
          libpq-dev \
          python3-dev graphviz libgraphviz-dev

      - name: Install packages
        run: pip install -r requirements.txt -r requirements-dev.txt

      - name: Fake build the site.css
        run: touch static/site.css

      - name: Check types
        run: make mypy

      - name: Test it
        run: make coverage

      - name: Check deploy configuration
        run: ./manage.py check --deploy --fail-level WARNING
        env:
          SECRET_KEY: 'zt(6jlr#oquxm2t%ryh#n+-72p^(3knbf&q$5x16#o%1im-s7!'
          SECURE_SSL_REDIRECT: 'on'

      - name: Check documentation build
        run: make -C docs html
