name: Tests Runner
on:
  - push
  - pull_request

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-20.04
    env:
      ALLOWED_HOSTS: '*'
      AWS_ACCESS_KEY_ID: 'a secret to everybody'
      AWS_SECRET_ACCESS_KEY: 'a secret to everybody'
      DATABASE_SSL_REQUIRE: 'off'
      DJSTRIPE_WEBHOOK_SECRET: 'whsec_asecrettoeverybody'
      DJSTRIPE_WEBHOOK_VALIDATION: ''
      HASHID_FIELD_SALT: 'a secret to everybody'
      IS_SECURE: 'off'
      SECRET_KEY: 'a secret to everybody'
      SECURE_SSL_REDIRECT: 'off'
      SENDGRID_API_KEY: 'a secret to everybody'
      SENTRY_ENABLED: 'off'
      SENTRY_DSN: 'dsn_example'
      STRIPE_LIVE_MODE: 'off'
      STRIPE_LIVE_SECRET_KEY: 'sk_live_asecrettoeverybody'
      STRIPE_TEST_SECRET_KEY: 'sk_test_asecrettoeverybody'
      STRIPE_TEST_PUBLISHABLE_KEY: 'pk_test_asecrettoeverybody'

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2

      - name: Set up Python
        run: uv python install

      # - name: Set up Python
      #   uses: actions/setup-python@v2
      #   with:
      #     python-version: '3.12'
      #     architecture: 'x64'
      #     cache: 'pip'
      #     cache-dependency-path: 'requirements*.txt'

      # - name: Install packages
      #   run: pip install -r requirements.txt -r requirements-dev.txt
      #
      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Fake build the site.css
        run: touch static/site.css

      - name: Check types
        run: make mypy

      - name: Test it
        run: make coverage

      - name: Check deploy configuration
        run: uv run manage.py check --deploy --fail-level WARNING
        env:
          DATABASE_URL: 'sqlite://:memory:'
          SECRET_KEY: 'zt(6jlr#oquxm2t%ryh#n+-72p^(3knbf&q$5x16#o%1im-s7!'
          SECURE_SSL_REDIRECT: 'on'

      - name: Check documentation build
        run: make docs
