{% extends "app_base.html" %}

{% block head_title %}{% if create %}Add{% else %}Update{% endif %} Grade Level{% endblock %}

{% block main %}
  <h1 class="font-thin text-2xl text-blue-900 mb-8">
    <a href="{% url "schools:school_year_list" %}" class="hover:underline">School Years</a>
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    School Year for {{ school_year }}
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    {% if create %}Add{% else %}Update{% endif %} Grade Level
  </h1>
  <form method="post" class="w-full max-w-lg mb-8">
    {% csrf_token %}
    <input type="hidden" name="school_year" value="{{ school_year.id }}">
    {% include "forms/field.html" with field=form.name placeholder="e.g., “Kindergarten” or “6th Grade”" autofocus=True %}
    <div class="md:flex md:items-center">
      <div class="md:w-1/4"></div>
      <div class="md:w-3/4 flex flex-col sm:flex-row items-center">
        <div class="flex-grow"></div>
        <a href="{% url "schools:school_year_detail" school_year.uuid %}"
          class="hover:bg-gray-200 text-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Cancel
        </a>
        <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline" type="submit">
          {% if create %}Add{% else %}Update{% endif %} Grade Level
        </button>
      </div>
    </div>
  </form>

  {% if not create %}
    {% with courses=gradelevel.get_ordered_courses %}
      {% if courses %}
        <div class="flex flex-col sm:flex-row max-w-lg text-sm uppercase tracking-wide font-thin">
          <div class="p-2 w-10/12">Course</div>
          <div class="p-2 w-2/12"></div>
        </div>
      {% endif %}

      {% for course in courses %}
        <div id="course-{{ course.uuid }}" class="flex flex-col sm:flex-row border-t border-yellow-400 max-w-lg">
          <div class="w-10/12 p-2 text-sm font-light overflow-x-scroll">
            <a href="{% url "courses:edit" uuid=course.uuid %}" class="hover:text-gray-600">
              {{ course.name }}
            </a>
          </div>
          <div class="p-2 flex items-center justify-center w-2/12 text-gray-300">
            <div class="h-4 w-8 mr-2"></div>
            <form method="POST" action="{% url "schools:course_up" gradelevel.uuid course.uuid %}">
              {% csrf_token %}
              <button type="submit" class="block mr-2 hover:text-gray-600">
                <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <title>Move Course Up</title>
                  <path d="M0 10a10 10 0 1 1 20 0 10 10 0 0 1-20 0zm10 8a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm.7-10.54L14.25 11l-1.41 1.41L10 9.6l-2.83 2.8L5.76 11 10 6.76l.7.7z"/>
                </svg>
              </button>
            </form>
            <form method="POST" action="{% url "schools:course_down" gradelevel.uuid course.uuid %}">
              {% csrf_token %}
              <button type="submit" class="block mr-2 hover:text-gray-600">
                <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <title>Move Course Down</title>
                  <path d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zM10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm-.7 10.54L5.75 9l1.41-1.41L10 10.4l2.83-2.82L14.24 9 10 13.24l-.7-.7z"/>
                </svg>
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% endwith %}
  {% endif %}
{% endblock %}
