{% extends "app_base.html" %}

{% block head_title %}{{ gradelevel.name }}{% endblock %}

{% block main %}
  <h1 class="grow font-extralight text-2xl text-blue-900 mb-8">
    <a href="{% url "schools:school_year_detail" school_year.id %}" class="hover:underline">{{ school_year }} School Year</a>

    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>

    {{ gradelevel.name }}

    <a href="{% url "schools:grade_level_edit" gradelevel.id %}?next={{ request.path|urlencode }}" class="text-gray-400 hover:text-gray-700">
      <svg class="h-5 w-5 ml-2 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <title>Edit Grade Level</title>
        <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
      </svg>
    </a>
  </h1>

  <p class="font-extralight text-base text-gray-800 mb-8">
    {% if enrollments %}
      <strong>Enrolled:</strong>
      {% for enrollment in enrollments %}
        {{ enrollment.student.full_name }}{% if not forloop.last %},{% endif %}
      {% endfor %}
    {% else %}
      No students are currently enrolled in this grade level.
    {% endif %}
  </p>

  {% if show_enroll_cta %}
    <p class="mb-8 print-hide">
      <a href="{% url "students:enrollment_create" school_year.id %}"
        class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring mr-2">
        Enroll a Student
      </a>
    </p>
  {% endif %}

  {% include "schools/gradelevel_courses.html" %}
{% endblock %}
