{% extends "app_base.html" %}

{% block head_title%}Add Grade Level{% endblock %}

{% block main %}
  <h1 class="font-thin text-2xl text-blue-900 mb-8">
    <a href="{% url "schools:school_year_list" %}" class="hover:underline">School Years</a>
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    School Year for {{ school_year }}
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    Add Grade Level
  </h1>
  <form method="post" class="w-full max-w-lg">
    {% csrf_token %}
    <input type="hidden" name="school_year" value="{{ school_year.id }}">
    <div class="md:flex md:items-center {% if not form.errors.name %}mb-6{% endif %}">
      <div class="md:w-1/4">
        <label class="block text-blue-900 font-light md:text-right mb-1 md:mb-0 pr-4" for="id_name">
          Name
        </label>
      </div>
      <div class="md:w-3/4">
        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white
               {% if form.errors.name %}border-red-500 focus:border-red-500{% else %}focus:border-blue-500{% endif %}"
               id="id_name" type="text" name="name" {% if form.name.value %}value="{{ form.name.value }}"{% endif %}
               placeholder='e.g., "Kindergarten" or "6th Grade"' autofocus required>
      </div>
    </div>
    {% if form.errors.name %}
      <div class="md:flex md:items-center mt-2 mb-6">
        <div class="md:w-1/4"></div>
        <div class="md:w-3/4">
          {% for error_message in form.errors.name %}
            <p class="text-red-500 text-xs italic">{{ error_message }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="md:flex md:items-center">
      <div class="md:w-1/4"></div>
      <div class="md:w-3/4 text-right">
        <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Add Grade Level
        </button>
      </div>
    </div>
  </form>
{% endblock %}
