{% extends "app_base.html" %}
{% load static %}

{% block head_title%}{{ schoolyear }} School Year{% endblock %}

{% block main %}
  <h1 class="font-thin text-2xl text-blue-900 mb-4">
    <a href="{% url "schools:school_year_list" %}" class="hover:underline">School Years</a>
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    <a href="{% url "schools:school_year_detail" schoolyear.uuid %}" class="hover:underline">{{ schoolyear }} School Year</a>
  </h1>

  <p class="font-thin text-base text-gray-800 mb-2">
    This school year {% if user.get_local_today > schoolyear.start_date %}started{% else %}starts{% endif %} on
    <strong>{{ schoolyear.start_date|date:"F j, Y" }}</strong>
    and {% if user.get_local_today > schoolyear.end_date %}ended{% else %}ends{% endif %} on
    <strong>{{ schoolyear.end_date|date:"F j, Y" }}</strong>.
  </p>
  <p class="font-thin text-base text-gray-800 mb-8">
    School weeks {% if user.get_local_today > schoolyear.end_date %}ran{% else %}run{% endif %} on
    <strong>{{ schoolyear.display_days }}</strong>.
  </p>

  <p class="mb-8">
    {% if schoolyear.grade_levels.all %}
      <a href="{% url "schools:grade_level_create" schoolyear.uuid %}"
        class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
        Add Grade Level
      </a>
    {% endif %}
    <a href="{% url "schools:school_break_create" schoolyear.uuid %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
      Add Break
    </a>
    <a href="{% url "schools:school_year_edit" schoolyear.uuid %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Edit School Year
    </a>
  </p>

  {# <h2 class="font-thin text-2xl text-blue-900 mb-4">Break Days</h2> #}
  {# <table class="text-center mb-8"> #}
  {#   <tr class="font-thin"> #}
  {#     <td></td> #}
  {#     <td class="w-6 pb-1">M</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">W</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">F</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">M</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">W</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">F</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">M</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">W</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">F</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">M</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">W</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">F</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">M</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">W</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#     <td class="w-6 pb-1">F</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">S</td> #}
  {#     <td class="w-6 pb-1">M</td> #}
  {#     <td class="w-6 pb-1">T</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="font-thin text-left pb-1">January</td> #}
  {#     <td class="w-6 pb-1"></td> #}
  {#     <td class="w-6 pb-1"></td> #}
  {#     <td class="w-6 pb-1">1</td> #}
  {#     <td class="w-6 pb-1">2</td> #}
  {#     <td class="w-6 pb-1">3</td> #}
  {#     <td class="w-6 pb-1">4</td> #}
  {#     <td class="w-6 pb-1">5</td> #}
  {#     <td class="w-6 pb-1">6</td> #}
  {#     <td class="w-6 pb-1">7</td> #}
  {#     <td class="w-6 pb-1">8</td> #}
  {#     <td class="w-6 pb-1">9</td> #}
  {#     <td class="w-6 pb-1">10</td> #}
  {#     <td class="w-6 pb-1">11</td> #}
  {#     <td class="w-6 pb-1">12</td> #}
  {#     <td class="w-6 pb-1">13</td> #}
  {#     <td class="w-6 pb-1">14</td> #}
  {#     <td class="w-6 pb-1">15</td> #}
  {#     <td class="w-6 pb-1">16</td> #}
  {#     <td class="w-6 pb-1">17</td> #}
  {#     <td class="w-6 pb-1">18</td> #}
  {#     <td class="w-6 pb-1">19</td> #}
  {#     <td class="w-6 pb-1">20</td> #}
  {#     <td class="w-6 pb-1">21</td> #}
  {#     <td class="w-6 pb-1">22</td> #}
  {#     <td class="w-6 pb-1">23</td> #}
  {#     <td class="w-6 pb-1">24</td> #}
  {#     <td class="w-6 pb-1">25</td> #}
  {#     <td class="w-6 pb-1">26</td> #}
  {#     <td class="w-6 pb-1">27</td> #}
  {#     <td class="w-6 pb-1">28</td> #}
  {#     <td class="w-6 pb-1">29</td> #}
  {#     <td class="w-6 pb-1">30</td> #}
  {#     <td class="w-6 pb-1">31</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">February</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">March</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#     <td class="pb-1 w-6">31</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">April</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">May</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#     <td class="pb-1 w-6">31</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">June</td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1"><div class="w-6 rounded-full bg-yellow-300">4</div></td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">July</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1"><div class="w-6 rounded-full bg-yellow-300">8</div></td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#     <td class="pb-1 w-6">31</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">August</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#     <td class="pb-1 w-6">31</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">September</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1"><div class="w-6 rounded-full bg-yellow-300">20</div></td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">October</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#     <td class="pb-1 w-6">31</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">November</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1 w-6">25</td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1"><div class="w-6 rounded-full bg-yellow-300">28</div></td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#   </tr> #}
  {#   <tr> #}
  {#     <td class="pb-1 font-thin text-left">December</td> #}
  {#     <td class="pb-1 w-6"></td> #}
  {#     <td class="pb-1 w-6">1</td> #}
  {#     <td class="pb-1 w-6">2</td> #}
  {#     <td class="pb-1 w-6">3</td> #}
  {#     <td class="pb-1 w-6">4</td> #}
  {#     <td class="pb-1 w-6">5</td> #}
  {#     <td class="pb-1 w-6">6</td> #}
  {#     <td class="pb-1 w-6">7</td> #}
  {#     <td class="pb-1 w-6">8</td> #}
  {#     <td class="pb-1 w-6">9</td> #}
  {#     <td class="pb-1 w-6">10</td> #}
  {#     <td class="pb-1 w-6">11</td> #}
  {#     <td class="pb-1 w-6">12</td> #}
  {#     <td class="pb-1 w-6">13</td> #}
  {#     <td class="pb-1 w-6">14</td> #}
  {#     <td class="pb-1 w-6">15</td> #}
  {#     <td class="pb-1 w-6">16</td> #}
  {#     <td class="pb-1 w-6">17</td> #}
  {#     <td class="pb-1 w-6">18</td> #}
  {#     <td class="pb-1 w-6">19</td> #}
  {#     <td class="pb-1 w-6">20</td> #}
  {#     <td class="pb-1 w-6">21</td> #}
  {#     <td class="pb-1 w-6">22</td> #}
  {#     <td class="pb-1 w-6">23</td> #}
  {#     <td class="pb-1 w-6">24</td> #}
  {#     <td class="pb-1"><div class="w-6 rounded-full bg-yellow-300">25</div></td> #}
  {#     <td class="pb-1 w-6">26</td> #}
  {#     <td class="pb-1 w-6">27</td> #}
  {#     <td class="pb-1 w-6">28</td> #}
  {#     <td class="pb-1 w-6">29</td> #}
  {#     <td class="pb-1 w-6">30</td> #}
  {#     <td class="pb-1"><div class="w-6 rounded-full bg-yellow-300">31</div></td> #}
  {#   </tr> #}
  {# </table> #}
  {# {% if schoolyear.breaks.all %} #}
  {#   <h2 class="font-thin text-2xl text-blue-900 mb-4">Break Days</h2> #}

  {#   <ol class="pl-8 mb-8 list-decimal"> #}
  {#     {% for school_break in schoolyear.breaks.all %} #}
  {#       <li class="font-thin text-base text-gray-800 mb-2"> #}
  {#         <a href="{% url "schools:school_break_edit" school_break.uuid %}" class="hover:underline"> #}
  {#           {{ school_break.day }} #}
  {#           {% if school_break.description %} #}
  {#             - {{ school_break.description }} #}
  {#           {% endif %} #}
  {#         </a> #}
  {#       </li> #}
  {#     {% endfor %} #}
  {#   </ol> #}
  {# {% endif %} #}

  <div class="flex flex-col w-full">
    {% for grade_level in schoolyear.grade_levels.all %}
      <div class="bg-gray-100 rounded-lg py-4 mb-8">
        <h2 class="font-thin text-2xl text-blue-900 ml-6">{{ grade_level.name }}</h2>

        <div class="flex flex-row flex-wrap">
          {% for course in grade_level.courses.all %}
            <div class="w-3/12">
              <div class="rounded overflow-hidden bg-white shadow-md m-3">
                <div class="px-4 py-4">
                  <div class="font-light text-lg border-b border-yellow-400 pb-1 mb-3">
                    <a href="{% url "courses:detail" course.uuid %}" class="hover:underline">
                      {{ course.name }}
                    </a>
                  </div>
                  <div class="flex flex-row justify-between">
                    <p class="text-gray-500 text-sm">
                      Runs: {{ course.display_abbreviated_days }}
                    </p>
                    <p class="text-gray-300 hover:text-gray-600 text-sm text-right">
                      <a href="{% url "courses:edit" uuid=course.uuid %}">
                        <svg class="h-4 w-4 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                          <title>Edit Course</title>
                          <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
                        </svg>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% if forloop.last %}
              <div class="w-3/12">
                <div class="rounded overflow-hidden bg-white shadow-md m-3">
                  <div class="px-4 py-4">
                    <div class="font-light text-lg border-b border-yellow-400 pb-1 mb-3">
                      <a href="{% url "courses:create" %}?school_year={{ schoolyear.uuid }}&grade_level={{ grade_level.uuid }}" class="hover:underline">
                        Add Course
                      </a>
                    </div>
                    <div class="flex flex-row justify-between">
                      <p class="text-gray-500 text-sm">
                      Create a {{ grade_level.name }} course
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% empty %}
            <div class="flex flex-row items-center font-thin">
              <div class="w-2/5">
                <div class="m-8 ml-24">
                  <img src="{% static "studying.svg" %}" alt="Deep in thought studying">
                </div>
              </div>
              <div class="w-3/5">
                <p class="mb-8">Your new grade level doesn’t have any courses yet. Let’s add your first one!</p>
                <p class="mb-8">
                  <a href="{% url "courses:create" %}?school_year={{ schoolyear.uuid }}&grade_level={{ grade_level.uuid }}"
                    class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
                    Add Course
                  </a>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% empty %}
      <div class="flex flex-row justify-center items-center p-8">
        <div class="w-2/5 font-thin mr-8">
          <p class="mb-8">
            Let’s get started!
            Create a grade level for your school year.
          </p>
          <div class="text-center">
            <a href="{% url "schools:grade_level_create" schoolyear.uuid %}"
              class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
              Add Grade Level
            </a>
          </div>
        </div>
        <div class="w-2/5">
          <img src="{% static "blank-canvas.svg" %}" alt="Stare at blank canvas">
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
