{% extends "app_base.html" %}

{% block head_title %}{% if create %}Add{% else %}Edit{% endif %} Break{% endblock %}

{% block main %}
  <h1 class="font-extralight text-2xl text-blue-900 mb-8">
    <a href="{% url "schools:school_year_list" %}" class="hover:underline">School Years</a>
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    <a href="{% url "schools:school_year_detail" school_year.id %}" class="hover:underline">
      School Year for {{ school_year }}
    </a>
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    {% if create %}Add{% else %}Edit{% endif %} Break
  </h1>
  {% include "forms/non_field_errors.html" %}
  <form method="post" class="w-full max-w-lg">
    {% csrf_token %}
    <input type="hidden" name="school_year" value="{{ school_year.id }}">
    {% include "forms/field.html" with field=form.start_date placeholder="7/4/2020" autofocus=True %}
    {% include "forms/field.html" with field=form.end_date placeholder="7/8/2020" %}
    {% include "forms/field.html" with field=form.description placeholder="e.g., “Independence Day getaway”" %}

    {% if students %}
      <div class="md:flex md:items-center mb-4">
        <div class="md:w-1/4">
          <label class="block text-blue-900 font-extralight md:text-right mb-1 md:mb-0 pr-4" for="{{ field.id_for_label }}">
            Student
          </label>
        </div>
        <div class="md:w-3/4">
          {% for student in students %}
            <div class="py-1">
              <label class="p-4 w-full inline-block hover:bg-gray-200 rounded" for="student-{{ student.id }}">
                <input class="mr-2" type="checkbox" value="{{ student.id }}" id="student-{{ student.id }}" name="student-{{ student.id }}"
                {% if create %}
                  checked
                {% endif %}
                >
                {{ student }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="md:flex md:items-center">
      <div class="md:w-1/4"></div>
      <div class="md:w-3/4 flex flex-col sm:flex-row items-center">
        {% if not create %}
          <a href="{% url "schools:school_break_delete" schoolbreak.id %}"
            class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring" type="submit">
            Delete
          </a>
        {% endif %}
        <div class="flex-grow"></div>
        <a href="{% url "schools:school_year_detail" school_year.id %}"
          class="hover:bg-gray-200 text-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:ring">
          Cancel
        </a>
        <button class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:ring" type="submit">
          {% if create %}Add{% else %}Update{% endif %} Break
        </button>
      </div>
    </div>
  </form>
{% endblock %}
