{% extends "app_base.html" %}
{% load accounts_tags static %}

{% block head_title %}{{ schoolyear }} School Year{% endblock %}

{% block main %}

  {% trial_banner %}

  {% if request.GET.welcome %}
    <div class="flex items-center bg-blue-100 w-full rounded-lg p-8 mb-8">
      <div class="w-1/2">
        <img src="{% static "celebrate.svg" %}" alt="Celebrate!">
      </div>
      <div class="ml-16 w-1/2 text-blue-900 font-thin">
        <h2 class="text-2xl mb-4">Awesome! You’re Ready To Build Your School Year!</h2>
        <p class="mb-4">
          Congratulations on getting your school started.
          Now that you’ve created your first task,
          you’re ready to keep building your school year.
        </p>
        <p class="mb-4">
          From here, you have some different options:
        </p>
        <ul class="list-disc list-inside mb-4">
          <li class="mb-2"><a class="underline" href="{% url "schools:grade_level_create" schoolyear.id %}">Create another grade level.</a></li>
          <li class="mb-2"><a class="underline" href="{% url "students:create" %}">Add your first student.</a></li>
          <li class="mb-2"><a class="underline" href="{% url "courses:task_create" request.GET.welcome %}">Add more tasks to your course.</a></li>
        </ul>
        <p class="mb-4">
          We hope you’ll find School Desk a joy to use.
        </p>
      </div>
    </div>
  {% endif %}

  <h1 class="font-thin text-2xl text-blue-900 mb-8">
    <a href="{% url "schools:school_year_list" %}" class="hover:underline">School Years</a>
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    <a href="{% url "schools:school_year_detail" schoolyear.id %}" class="hover:underline">{{ schoolyear }} School Year</a>
  </h1>

  <p class="font-thin text-base text-gray-800 mb-2">
    This school year {% if user.get_local_today > schoolyear.start_date %}started{% else %}starts{% endif %} on
    <strong>{{ schoolyear.start_date|date:"F j, Y" }}</strong>
    and {% if user.get_local_today > schoolyear.end_date %}ended{% else %}ends{% endif %} on
    <strong>{{ schoolyear.end_date|date:"F j, Y" }}</strong>.
  </p>
  <p class="font-thin text-base text-gray-800 mb-2">
    School weeks {% if user.get_local_today > schoolyear.end_date %}ran{% else %}run{% endif %} on
    <strong>{{ schoolyear.display_days }}</strong>.
  </p>
  <p class="font-thin text-base text-gray-800 mb-8">
    <a class="underline" href="{% url "schools:school_year_forecast" schoolyear.id %}">View school year projected completion dates.</a>
  </p>

  <p class="mb-8">
    {% if grade_levels %}
      <a href="{% url "schools:grade_level_create" schoolyear.id %}"
        class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
        Add Grade Level
      </a>
      <a href="{% url "schools:school_break_create" schoolyear.id %}"
        class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
        Add Break
      </a>
    {% endif %}
    <a href="{% url "schools:school_year_edit" schoolyear.id %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Edit School Year
    </a>
  </p>

  {% if grade_levels %}
    <h2 class="font-thin text-2xl text-blue-900 mb-4">Calendar</h2>
    <div class="flex flex-row flex-wrap max-w-5xl {% if not is_in_school_year %}mb-8{% endif %}">
      {% for month in calendar.months %}
        <div class="mr-4 mb-4">
          <div class="font-base text-center mb-2">{{ month.name }}</div>
          <div class="flex flex-col">
            <div class="flex flex-row mb-2 pb-1 border-b border-yellow-400">
              <div class="font-thin text-center w-8">S</div>
              <div class="font-thin text-center w-8">M</div>
              <div class="font-thin text-center w-8">T</div>
              <div class="font-thin text-center w-8">W</div>
              <div class="font-thin text-center w-8">T</div>
              <div class="font-thin text-center w-8">F</div>
              <div class="font-thin text-center w-8">S</div>
            </div>
            {% for week in month.weeks %}
              <div class="flex flex-row">
              {% for week_date in week %}
                <div class="pb-1">
                {% if week_date.school_break %}
                <a href="{% url "schools:school_break_edit" week_date.school_break.id %}"
                  class="rounded-full hover:text-white">
                {% elif week_date.in_school_year and week_date.is_school_day %}
                <a href="{% url "core:daily_for_date" week_date.date.year week_date.date.month week_date.date.day %}"
                  class="rounded-full hover:bg-blue-400 hover:text-white">
                {% endif %}

                  <div class="w-8 text-center
                    {% if week_date.is_today %}
                      bg-blue-600 text-white rounded-full
                    {% elif week_date.school_break %}
                      bg-yellow-500 text-white hover:bg-yellow-300
                      {% if week_date.date_type == week_date.school_break.DateType.SINGLE %}
                        rounded-full
                      {% elif week_date.date_type == week_date.school_break.DateType.START %}
                        rounded-l-full
                      {% elif week_date.date_type == week_date.school_break.DateType.END %}
                        rounded-r-full
                      {% endif %}
                    {% elif not week_date.in_school_year or not week_date.is_school_day %}
                      text-gray-300
                    {% elif week_date.show_as_past %}
                      rounded-full text-gray-600 hover:bg-blue-300 hover:text-white
                    {% else %}
                      rounded-full hover:bg-blue-300 hover:text-white
                    {% endif %}
                    ">
                    {{ week_date.day }}
                  </div>

                {% if week_date.school_break or week_date.in_school_year and week_date.is_school_day %}
                  </a>
                {% endif %}
                </div>
              {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% if is_in_school_year %}
      <div class="text-sm text-gray-700 font-light mb-8">
      {% if request.GET.show_all_months %}
        <a class="hover:underline" href="{{ request.path }}">Hide months</a>
      {% else %}
        <a class="hover:underline" href="{{ request.path }}?show_all_months=1">Show all months</a>
      {% endif %}
      </div>
    {% endif %}
  {% endif %}

  <div class="flex flex-col w-full">
    {% for grade_level_info in grade_levels %}
      <a id="grade-level-{{ grade_level_info.grade_level.id }}"></a>
      <div class="bg-gray-100 rounded-lg py-4 px-3 mb-8">
        <div class="flex flex-row items-center">
          <a href="{% url "schools:grade_level_edit" grade_level_info.grade_level.id %}" class="hover:underline">
            <h2 class="font-thin text-2xl text-blue-900 ml-6">{{ grade_level_info.grade_level.name }}</h2>
          </a>
          <div class="flex-grow"></div>
          <div>
            <a href="{% url "schools:grade_level_edit" grade_level_info.grade_level.id %}" class="text-gray-400 hover:text-gray-700">
              <svg class="h-4 w-4 mr-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <title>Edit Grade Level</title>
                <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
              </svg>
            </a>
          </div>
        </div>

        {% if grade_level_info.courses and not grade_level_info.has_students %}
          <div class="flex m-3 bg-white border border-blue-500 p-6 rounded-md shadow-md items-center mx-auto max-w-xl">
            <div class="text-blue-700">
              <svg class="h-8 w-8 mr-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM9 11v4h2V9H9v2zm0-6v2h2V5H9z"/></svg>
            </div>
            <div class="font-light text-gray-700 mr-3">
              Your grade level has no enrolled students.
            </div>
            <div>
              <a href="{% url "students:enrollment_create" schoolyear.id %}"
                class="bg-blue-700 hover:bg-blue-500 text-white font-normal py-2 px-3 rounded focus:outline-none focus:shadow-outline">
                Enroll Student
              </a>
            </div>
          </div>
        {% endif %}

        <div class="flex flex-row flex-wrap">
          {% for course in grade_level_info.courses %}
            {% include "schools/course_summary.html" %}
            {% if forloop.last %}
              <div class="w-3/12">
                <div class="m-3">
                  <div class="px-8 text-center">
                    <a href="{% url "courses:create" %}?school_year={{ schoolyear.id }}&grade_level={{ grade_level_info.grade_level.id }}"
                      class="block rounded-md text-yellow-500 border border-gray-100 hover:border-yellow-400 hover:bg-gray-200 px-3 xl:px-4 py-4">
                      <div class="flex items-center justify-center border-b border-yellow-400 mb-3 pb-1">
                        <svg class="h-4 w-4 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                          <path d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20z"/>
                        </svg>
                        <div class="font-light text-black text-lg pl-1">
                            Add Course
                        </div>
                      </div>
                        <p class="text-gray-600 text-sm">
                        For {{ grade_level_info.grade_level.name }}
                        </p>
                    </a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% empty %}
            <div class="flex flex-row items-center font-thin">
              <div class="w-2/5">
                <div class="m-8 ml-24">
                  <img src="{% static "studying.svg" %}" alt="Deep in thought studying">
                </div>
              </div>
              <div class="w-3/5">
                <p class="mb-8">Your new grade level doesn’t have any courses yet. Let’s add your first one!</p>
                <p class="mb-8">
                  <a href="{% url "courses:create" %}?school_year={{ schoolyear.id }}&grade_level={{ grade_level_info.grade_level.id }}"
                    class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
                    Add Course
                  </a>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% empty %}
      <div class="flex flex-row justify-center items-center p-8">
        <div class="w-2/5 font-thin mr-8">
          <p class="mb-8">
            Let’s get started!
            Create a grade level for your school year.
          </p>
          <div class="text-center">
            <a href="{% url "schools:grade_level_create" schoolyear.id %}"
              class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
              Add Grade Level
            </a>
          </div>
        </div>
        <div class="w-2/5">
          <img src="{% static "blank-canvas.svg" %}" alt="Stare at blank canvas">
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
