{% extends "app_base.html" %}
{% load static %}

{% block head_title%}{{ schoolyear }} School Year{% endblock %}

{% block main %}
  <h1 class="font-thin text-2xl text-blue-900 mb-4">
    <a href="{% url "schools:school_year_list" %}" class="hover:underline">School Years</a>
    <svg class="h-6 w-6 pb-1 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    School Year for {{ schoolyear }}
  </h1>

  <p class="font-thin text-base text-gray-800 mb-2">
    This school year {% if user.get_local_today > schoolyear.start_date %}started{% else %}starts{% endif %} on
    <strong>{{ schoolyear.start_date|date:"F j, Y" }}</strong>
    and {% if user.get_local_today > schoolyear.end_date %}ended{% else %}ends{% endif %} on
    <strong>{{ schoolyear.end_date|date:"F j, Y" }}</strong>.
  </p>
  <p class="font-thin text-base text-gray-800 mb-8">
    School weeks {% if user.get_local_today > schoolyear.end_date %}ran{% else %}run{% endif %} on
    <strong>{{ schoolyear.display_days }}</strong>.
  </p>

  <p class="mb-8">
    <a href="{% url "schools:grade_level_create" schoolyear.uuid %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
      Add Grade Level
    </a>
    <a href="{% url "schools:school_year_edit" schoolyear.uuid %}"
      class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Edit School Year
    </a>
  </p>

  <div class="flex flex-col w-full">
    {% for grade_level in schoolyear.grade_levels.all %}
      <div class="bg-gray-100 rounded-lg py-4 mb-8">
        <h2 class="font-thin text-2xl text-blue-900 ml-6">{{ grade_level.name }}</h2>

        <div class="flex flex-row flex-wrap">
          {% for course in grade_level.courses.all %}
            <div class="w-3/12">
              <div class="rounded overflow-hidden bg-white shadow-md m-3">
                <div class="px-4 py-4">
                  <div class="font-light text-lg border-b border-yellow-400 pb-1 mb-3">
                    <a href="{% url "courses:detail" course.uuid %}" class="hover:underline">
                      {{ course.name }}
                    </a>
                  </div>
                  <div class="flex flex-row justify-between">
                    <p class="text-gray-500 text-sm">
                      Runs: {{ course.display_abbreviated_days }}
                    </p>
                    <p class="text-gray-300 hover:text-gray-600 text-sm text-right">
                      <a href="{% url "courses:edit" uuid=course.uuid %}">
                        <svg class="h-4 w-4 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                          <title>Edit Course</title>
                          <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
                        </svg>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% empty %}
            <div class="flex flex-row items-center font-thin">
              <div class="w-2/5">
                <div class="m-8 ml-24">
                  <img src="{% static "studying.svg" %}" alt="Deep in thought studying">
                </div>
              </div>
              <div class="w-3/5">
                <p class="mb-8">Your new grade level doesn’t have any courses yet. Let’s add your first one!</p>
                <p class="mb-8">
                  <a href="{% url "schools:grade_level_create" schoolyear.uuid %}"
                    class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
                    Add Course
                  </a>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
